@import '../../scss/variables';
@import '../../scss/mixins';

.dialog-wrapper {
    background: rgba(white, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 13;
    width: 100%;
    height: 100%;
}
.dialog {
    @include calc(top, '50% - 90px');
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 2px 28.5px 1.5px rgba(0, 0, 0, 0.35);
    margin: auto;
    max-width: 370px;
    min-width: 300px;
    position: relative;
    width: 87vw;

    &.rules {
        box-shadow: none;
        border-radius: 0;
        height: 100vh;
        overflow-y: auto;
        max-width: 100vw;
        top: auto;
        width: 100vw;
        .rules-article-title {
            border-bottom: 1px solid #d3d3d3;
            padding: 15px 20px;
        }
    }
    .rules-title {
        @include flex-container(row, space-between, center);
        @include font-size(xxl-small);
        border-bottom: 1px solid $grey;
        font-weight: 300;
        font-family: $fontLatoMedium;
        padding: 20px;
        &.opened {
            .rules-arrow {
                transform: rotate(180deg);
                &:after,&:before {
                    background: $text-color-dark;
                }
            }
        }
        .rules-arrow {
            display: inline-block;
            height: 10px;
            position: relative;
            transition: $mainTransition;
            width: 16px;
            &:after, &:before {
                background: $text-color-dark;
                content: '';
                display: block;
                height: 2px;
                position: absolute;
                width: 8px;
            }
            &:after {
                left: 2px;
                top: 4px;
                transform: rotate(45deg);
            }
            &:before {
                right: 1px;
                top: 4px;
                transform: rotate(-45deg);
            }
        }
    }
    .rules-block {
        @include font-size(xxl-small);
        background: $whiteSmoke;
        font-family: $fontLatoMedium;
        max-height: 0;
        line-height: 1.5;
        padding: 0;
        transform: scaleY(0);
        transform-origin: 50% 0;
        &.opened {
            max-height: 100%;
            padding: 20px;
            transform: scaleY(1);
        }
        &.table {
            padding: 0;
            .scoring-table {
                padding: 0;
            }
        }
    }
    .rules-item {
        text-align: left;
    }
    .rules-text {
        @include font-size(xxl-small);
        font-family: $fontLatoMedium;
        line-height: 1rem;
        padding-bottom: 20px;
        ul {
            padding: 0 0 0 15px;
            margin: 5px 0;
        }
        .prize-distribution-list {
            list-style-type: none;
            li {
                text-indent: 10px;
            }
        }
        header {
            font-family: $fontLatoBlack;
            text-transform: uppercase;
        }
    }
    .rules-prizes {
        margin: 0 auto 20px;
        width: 180px;
        div {
            @include flex-container();
        }
    }
    .title {
        @include font-size(xxl-small);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background: url-images('dialog/dialog-title-bg.jpg') no-repeat center/cover;
        color: $white;
        font-family: $fontLatoBlack;
        padding: 15px;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        &.rules {
            @include flex-container(row, flex-start, center);
            background: $white;
            box-sizing: border-box;
            border-bottom: 1px solid $gainsboro;
            border-radius: 0;
            color: $text-color-dark;
            height: 70px;
            left: 0;
            padding: 18px;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 2;
            .Btn {
                left: 20px;
                position: absolute;
                top: 20px;
            }
            h3 {
                @include font-size(xl-medium);
                display: block;
                font-family: $fontMontserratBlack;
                text-align: center;
                width: 100%;
            }
        }
        .icon-cross {
            background: url-images('dialog/dialog-cross-icon.png') no-repeat center/cover;
            display: block;
            height: 12px;
            opacity: .4;
            position: absolute;
            right: 15px;
            top: 16px;
            width: 12px;
        }
    }
    .content {
        @include font-size(medium);
        color: $black;
        font-family: $fontLatoBlack;
        padding: 25px 50px 30px;
        text-align: center;
    }
    .buttons {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        @include flex-container();
        .btn {
            flex-basis: 50%;
            &:first-child {
                border-bottom-left-radius: 3px;
            }
            &:last-child {
                border-bottom-right-radius: 3px;
            }
        }
    }
    .scoring-system-table {
        margin: 10px 0;
        .scoring-title {
            @include font-size(medium);
            margin: 15px 0;
            text-align: center;
        }
        .row {
            @include flex-container();
            @include font-size(xl-small);
            border: 1px solid $grey;
            &.big {
                span {
                    flex-basis: 33%;
                }
            }
            span {
                box-sizing: border-box;
                border-right: 1px solid $grey;
                flex-basis: 50%;
                min-height: 35px;
                padding: 5px 0;
                text-align: center;
                &:first-child {
                    padding: 5px 0 5px 5px;
                    text-align: left;
                }
                &:last-child {
                    text-align: right;
                    padding: 5px 5px 5px 0;
                }
            }
        }
    }
}
.rules-table {
    .content {
        color: $text-color-dark;
        padding: 70px 0 100px;
    }
}
.scoring-table {
    padding: 70px 0 0;
    .content {
        padding: 0 0 100px;
        text-align: left;
    }
    .row {
        @include flex-container();
        @include font-size(x-small);
        background: $white;
        box-sizing: border-box;
        border-bottom: 1px solid $gainsboro;
        color: $text-color-dark;
        font-family: $fontLatoMedium;
        height: 38px;
        line-height: 0.688rem;
        padding: 0 20px;
        text-transform: uppercase;
        &.titles {
            background: #f0f0f0;
            color: $text-color-dark;
            font-family: $fontLatoBlack;
        }
    }
    .left-column {
        @include flex-container();
        width: 65%;
        span:first-child {
            width: 35%;
        }
        span:last-child {
            text-align: left;
            width: 65%;
        }
    }
    .right-column {
        text-align: right;
        width: 35%;
    }
}
