@import '../../scss/variables';
@import '../../scss/mixins';

.page {
    &.lineup-create {
        padding-bottom: 0;
        .lineup-create-wrap {
            height: 146px;
        }
        .lineup-header {
            background: rgba($midnightExpress, .7);
            box-shadow: $header-box-shadow;
            left: 0;
            position: fixed;
            right: 0;
            top: 60px;
            z-index: 9;

            &__title {
                @include font-size(xl-medium);
                @include flex-container(row, space-around, center);
                color: $white;
                font-family: $fontMontserratBlack;
                opacity: .8;
                text-align: center;
                span {
                    color: $typo-color-third;
                }
            }

            &__row {
                @include flex-container(row, space-between, center);
                padding: 15px 10px 10px 10px;
                position: relative;

                %button {
                    @include font-size(xl-small);
                    box-sizing: border-box;
                    line-height: 12px;
                    padding: 9px 16px;
                    letter-spacing: 1px;
                }

                .btn-exit {
                    @extend %button;
                    background-color: $grey;
                    border-color: $dimGrey;
                    color: $stormGrey;
                }

                .btn-play {
                    @extend %button;
                    background-color: $red;
                    border-color: $persianRed;
                    color: $white;
                }
                button:last-child {
                    margin-left: 2px;
                }
            }
            &__midrow {
                @include flex-container(row, space-between, center);
                box-sizing: border-box;
                padding: 5px 10px 10px 10px;
                position: relative;
            }
        }

        .lineup-header-name-field {
            background: rgba(white, .8);
            height: 62px;
            position: absolute;
            top: 144px;
            width: 100%;
            z-index: 4;

            i {
                border-radius: 50%;
                border: 2px solid $black;
                display: block;
                height: 15px;
                opacity: .4;
                visibility: hidden;
                position: absolute;
                right: 15px;
                top: 21px;
                transition: $mainTransition;
                width: 14px;
                &:after,&:before {
                    background: $black;
                    content: '';
                    display: block;
                    position: absolute;
                }
                &:after {
                    height: 1px;
                    right: 2px;
                    top: 7px;
                    transform: rotate(45deg);
                    width: 10px;
                }
                &:before {
                    height: 1px;
                    left: 2px;
                    top: 7px;
                    transform: rotate(-45deg);
                    width: 10px;
                }
            }
            input {
                @include calc(width, '100% - 20px');
                @include font-size(small);
                background: rgba(white, .6);
                border-radius: 3px;
                border: none;
                color: $text-color-light;
                font-family: $fontLatoMedium;
                height: 30px;
                margin: 15px 10px;
                padding: 0;
                outline: none;
                text-align: center;
                text-transform: uppercase;
                transition: $mainTransition;

                &:focus,
                &:active {
                    background: white;
                    color: $text-color-dark;
                    outline: none;
                    & + i {
                        visibility: visible;
                    }
                }

                &::placeholder {
                    color: $text-color-light;
                    line-height: normal;
                }
            }
        }
    }
}
