@import '../../scss/mixins';
@import '../../scss/typo';
@import '../../scss/variables';

.page {
    &.home {
        position: relative;
        .gfs-logo-white {
            margin: 30px auto 0;
        }
        article {
            box-sizing: border-box;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            padding: 0 20px;
            width: 100%;
        }
        h1 {
            @include font-size(x-big);
            font-family: $fontMontserratBlack;
            line-height: 1;
            text-transform: uppercase;
            text-align: center;
        }
        q {
            quotes: '\201c' '\201d';
        }

        .head {
            background-color: rgba($white, .8);
            box-sizing: border-box;
            display: none;
            height: 50px;
            opacity: 1;
            padding: 0 20px;
            position: fixed;
            width: 100%;
        }
        .sticky .head {
            @include flex-container();
        }
        .sticky {
            z-index: 2;
        }

        .first {
            background: url-images('home/home-section-1-bg.jpg') center no-repeat;
            background-size: cover;
            color: $white;
            height: 100vh;
            text-align: center;
        }
        .second {
            background: url-images('home/home-section-2-bg.jpg') center no-repeat;
            background-size: cover;
        }
        .third {
            background: url-images('home/home-section-3-bg.jpg') no-repeat center 90%;
            background-size: cover;
        }
        .fourth {
            background: url-images('home/home-section-4-bg.png') center no-repeat;
            background-size: 100% 100%;
            height: 820px;
            padding: 0;
        }
        .fifth {
            background: url-images('home/home-section-5-bg.jpg') center no-repeat;
            background-size: cover;
        }
        .sixth {
            background: url-images('home/home-section-6-bg.jpg') center no-repeat;
            background-size: cover;
            height: 100vh;
        }
        .seventh {
            background: url-images('home/home-section-7-bg.jpg') center no-repeat;
            background-size: cover;
            padding: 30px 20px 0;
            z-index: 1;
        }

        .first-title {
            font-size: 1.500rem;
            font-family: $fontMontserratBlack;
            line-height: 1;
            margin: 50px 0 20px;
        }
        .first-sub-title {
            @include font-size(xl-medium);
            font-family: $fontLatoMedium;
            margin-bottom: 45px;
        }
        .bottom-sub-title {
            @include font-size(x-small);
            font-family: $fontLatoMedium;
            line-height: 1;
            margin: 20px 0 30px;
            text-transform: uppercase;
        }
        .money-back {
            @include flex-container(row, space-between, flex-start);
            @include font-size(xl-small);
            font-family: $fontLatoBlack;
            line-height: 1;
            margin: 0 auto;
            width: 208px;
        }
        .money-back-title {
            margin: 0 0 8px;
            text-transform: uppercase;
        }
        .money-back-subtitle {
            color: $slateGrey;
            margin: 0;
        }
        .money-back-left {
            margin-top: 9px;
            text-align: right;
        }
        .money-back-right {
            background: url-images('home/money-back.png') center no-repeat;
            background-size: contain;
            height: 65px;
            margin-left: 15px;
            width: 45px;
        }
        .title {
            color: $black;
            margin: 30px auto 18px;
            text-align: center;
            &.white {
                color: $white;
            }
            &.right {
                margin: 70px auto 22px;
                text-align: right;
            }
        }
        .sub-title {
            color: $charcoal;
            @include font-size(xl-medium);
            font-family: $fontLatoMedium;
            text-align: center;
            &.gray {
                color: $white;
                opacity: .6;
            }
            &.right {
                text-align: right;
            }
        }

        .reviews {
            margin: 30px 0 0;
        }
        .reviews-item {
            @include flex-container(row, flex-start, flex-start);
            border-bottom: 1px solid $veryLightGrey;
            color: $black;
            padding: 20px 0 30px;
            text-transform: uppercase;
            .reviews-right {
                width: 80%;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        .reviews-photo {
            border-radius: 50%;
            display: block;
            height: 40px;
            margin-right: 8px;
            width: 40px;
            &.joe {
                background: url-images('home/joe-drape-photo.png') center no-repeat;
                background-size: contain;
            }
            &.seth {
                background: url-images('home/seth-markman-photo.png') center no-repeat;
                background-size: contain;
            }
            &.lora {
                background: url-images('home/lora-kolodny-photo.png') center no-repeat;
                background-size: contain;
            }
        }
        .reviews-name {
            @include font-size(xxl-small);
            font-family: $fontLatoBlack;
            letter-spacing: 0.1rem;
            line-height: 1;
            margin: 10px 0;
        }
        .reviews-journal {
            color: $charcoal;
            @include font-size(small);
            font-family: $fontLatoMedium;
            line-height: 1;
            opacity: .5;
        }
        .reviews-text {
            @include font-size(xl-small);
            font-family: $fontMontserratBlack;
            letter-spacing: 0.025rem;
            line-height: 1.5;
            margin: 20px 0 0;
        }

        .game-icons {
            @include flex-container(column, flex-start, flex-end);
            margin-bottom: 50px;
        }
        .game-icon-row {
            @include flex-container();
            width: 45%;
            &:last-child {
                @include flex-container(row, flex-end, center);
            }
        }
        .game-icon {
            color: $red;
            @include font-size(xl-small);
            font-family: $fontLatoBlack;
            margin-top: 50px;
            text-align: center;
            min-width: 45px;
            .icon {
                display: inline-block;
                height: 30px;
                width: 30px;
                margin: 0 0 9px;
                &.epl {
                    background: url-images('home/epl-icon.png') center no-repeat;
                    background-size: contain;
                }
                &.nfl {
                    background: url-images('home/nfl-icon.png') center no-repeat;
                    background-size: contain;
                }
                &.nba {
                    background: url-images('home/nba-icon.png') center no-repeat;
                    background-size: contain;
                }
                &.pga {
                    background: url-images('home/pga-icon.png') center no-repeat;
                    background-size: contain;
                }
                &.mlb {
                    background: url-images('home/mlb-icon.png') center no-repeat;
                    background-size: contain;
                }
            }
        }

        .phone-block {
            height: 100vh;
            p {
                text-align: left;
            }
        }
        .phone-img {
            background: url-images('home/iPhone.png');
            background-size: cover;
            height: 360px;
            margin: 20px auto 0;
            width: 180px;
        }
        .game-steps {
            @include flex-container(column, space-between, center);
            background: url-images('home/home-section-4-bg.png') center no-repeat;
            background-size: 100% 100%;
            margin-bottom: 45px;
            position: relative;
            text-align: center;
            top: -100px;
            p {
                @include font-size(xxl-small);
                font-family: $fontLatoBlack;
                text-transform: uppercase;
            }
            .title {
                margin: 100px 0 50px;
            }
            .icon {
                display: inline-block;
                height: 60px;
                margin: 0 0 15px;
                width: 60px;
                &.arrow-down {
                    background: url-images('home/arrow-down-icon.png') center no-repeat;
                    background-size: contain;
                    height: 25px;
                    margin: 20px 0;
                    opacity: .2;
                    width: 20px;
                }
                &.pick {
                    background: url-images('home/pick-game-icon.png') center no-repeat;
                    background-size: contain;
                }
                &.strategy {
                    background: url-images('home/game-strategy-icon.png') center no-repeat;
                    background-size: contain;
                }
                &.friends {
                    background: url-images('home/challenge-friends-icon.png') center no-repeat;
                    background-size: contain;
                }
                &.watch {
                    background: url-images('home/watch-game-icon.png') center no-repeat;
                    background-size: contain;
                }
            }
        }

        .sports-section-title{
            .sub-title {
                margin: 0 0 15px;
            }
        }
        .sport-icons-row {
            @include flex-container();
            margin: 0 auto 30px;
            max-width: 130px;
            &.center {
                @include flex-container(row, center, center);
            }
            .icon {
                display: block;

                &.ple {
                    background: url-images('home/ple-logo-icon.png') center no-repeat;
                    background-size: contain;
                    height: 62px;
                    width: 50px;
                }
                &.nfl {
                    background: url-images('home/nfl-logo-icon.png') center no-repeat;
                    background-size: contain;
                    height: 65px;
                    width: 50px;
                }
                &.nba {
                    background: url-images('home/nba-logo-icon.png') center no-repeat;
                    background-size: contain;
                    height: 65px;
                    width: 30px;
                }
                &.pga {
                    background: url-images('home/pga-logo-icon.png') center no-repeat;
                    background-size: contain;
                    height: 60px;
                    width: 45px;
                }
                &.mlb {
                    background: url-images('home/mlb-logo-icon.png') center no-repeat;
                    background-size: contain;
                    height: 42px;
                    width: 62px;
                }
            }
        }

        .devices-title {
            margin: 30px 0 18px;
            text-align: center;
        }
        .devices-subtitle {
            @include font-size(xl-medium);
            font-family: $fontLatoMedium;
            opacity: .6;
            text-align: center;
        }
        .login-form {
            text-align: center;
            .btn-login {
                width: 150px;
            }
        }
        .login-title {
            color: $whiteSmoke;
            margin: 35px 0 30px;
            text-align: center;
        }
        .copyrights {
            @include font-size(xl-small);
            font-family: $fontLatoMedium;
            margin: 70px 0 0;
            text-align: center;
            opacity: .6;
            p {
                &:first-child {
                    margin-bottom: 25px;
                }
                &:last-child {
                    line-height: 14px;
                    margin: 25px 0 55px;
                }
            }
            a {
                color: $white;
                display: block;
                margin-bottom: 20px;
                text-transform: uppercase;
                text-decoration: none;
                &:hover, &:active {
                    opacity: 1;
                }
            }
        }

        /*MEDIA QUERIES*/
        @media #{$mq-iphone5-landscape} {
            .first-title {
                margin: 20px 0;
            }
            .first-sub-title {
                margin-bottom: 15px;
            }
            .phone-block {
                height: 520px;
            }
            .sixth {
                height: 600px;
            }
        }
    }
}
