@import "../../scss/mixins";
@import "../../scss/variables";

/** Default variables **/
$bg-budget-progress-value: #a8e37e linear-gradient(-90deg, #a8e37e 0%, #56cc6a 30%) !default;
$bg-athlete-placeholder: #eeeeee linear-gradient(#d8d8d8, #eeeeee) !default;
/** Default variables END **/

.page.wizard {
    @include flex-container(column, flex-start, stretch);
    background: $bg-main-color-primary;
    box-sizing: border-box;
    padding-bottom: 50px;
    width: 100vw;

    .wizard-header-wrap {
        margin-bottom: 80px;

        &.friends {
            margin-bottom: 70px;
        }
        &.entryfee {
            margin-bottom: 110px;
        }
    }

    .wizard-header {
        background: rgba($bg-main-color-primary, .8);
        box-shadow: $header-box-shadow;
        left: 0;
        padding: 0;
        position: fixed;
        right: 0;
        top: 60px;
        z-index: 9;
        min-height: 80px;
        &.entryfee {
            min-height: 110px;
        }

        &__row {
            @include flex-container(row, space-between, center);
            box-sizing: border-box;
            min-height: 30px;
            padding: 10px 20px 0;
            position: relative;

            &.select-step-top {
                padding: 15px 20px 0 !important;
            }
            &.entryfee-step {
                padding: 20px 20px 0;
            }

            &:first-child {
                padding: 15px 20px 0;
            }

            .btn-filter-toggler {
                left: 20px;
                position: absolute;
                top: 20px;
            }

            .empty-block {
                width: 56px;
            }
            .info-section {
                margin: 0;
            }
        }

        &__controls {
            @include flex-container(row, space-between, center);

            >:first-child {
                margin-right: 10px;
            }
        }

        &__spacer {
            display: inline-block;
            min-width: 70px;
        }

        &__title {
            @include font-size(xl-medium);
            @include flex-container(row, center, center);
            color: $white;
            font-family: $fontMontserratBlack;
            opacity: .8;
            width: 40%;

            p {
                text-align: center;
            }
            span {
                color: $typo-color-third;
            }
        }

        &__title-count {
            color: $text-color-white;

            span {
                color: $text-color-light;
                font-style: normal;
            }
        }

        &__title-main {
            max-width: 88px;
        }

        &__selected-rooms-filter {
            @include flex-container(row, center, center);
            background: $overall-color-basic-dark;
            border-radius: 19px;
            display: inline-flex;
            margin: 0 auto;
            padding: 2px;
            width: auto;

            .btn {
                min-width: 93px;
            }
        }
        .wizard-create-game {
            @include flex-container(row, center, center);
            color: $typo-color-first;
            padding: 10px 10px 9px;
            .Money {
                padding: 0 2px;
                &:before {
                    line-height: 1;
                }
            }
        }
    }

    .wizard-centered {
        flex-grow: 2;
        text-align: center;

        .login-panel {
            background: $blue;
            font-family: $fontLatoMedium;
            padding: 20px;

            > p {
                margin-bottom: 2rem;
            }

            > .btn {
                background: $havelockBlue;
                border: inset 1px solid rgba($havelockBlue, .5)
            }
        }
    }

    .autofill-row {
        @include flex-container(row, center, center);
        background: $whisper;
        height: 64px;
    }
}

.wizard-error {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    article {
        @include absolute($top: 240px, $left: 20%, $right: 20%);
        background: rgba($dimGrey, .9);
        border-radius: 3px;
        font-family: $fontLatoMedium;
        font-size: 14px;
        padding: 1rem;
        text-align: center;
    }
}

.wizard-search-wrap {
    background: $quartz;
    border-bottom: 1px solid $darkGrey;
    padding: 10px 0;
}

.wizard-search {
    @include flex-container(column, space-between, stretch);
    box-sizing: border-box;
    padding: 0 20px;
}

.wizard-search-field {
    @include flex-container(row, space-between, center);
}

.search-input-wrap {
    @include calc(width, '100% - 80px');
    position: relative;

    &:after {
        @include absolute($top: 9px, $left: 8px);
        background: url-images('wizard/input-search-icon.png') center/contain no-repeat;
        content: '';
        display: block;
        height: 15px;
        width: 15px;
    }
}
.search-input {
    @include font-size(xl-small);
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    color: $text-color-light;
    font-family: $fontLatoMedium;
    line-height: normal;
    padding: 9px 15px 8px 30px;
    text-transform: uppercase;
    width: 100%;

    &::placeholder {
        color: $text-color-light;
    }

    &:focus {
        color: $text-color-dark;
        outline: none;
    }
}

.budget-display {
    @include flex-container(row, space-between, baseline);
    font-family: $fontLatoBlack;
    width: 62%;

    &__label {
        @include font-size(xl-small);
        color: $text-color-light;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__value {
        @include font-size(xxl-small);
        color: $text-color-white;
        font-weight: 600;
        white-space: nowrap;
    }

    &__progress {
        background: rgba($text-color-light, .3);
        border-radius: 3px;
        height: 7px;
        margin: 3px 5px;
        overflow: hidden;
        flex-grow: 2;

        &-value {
            background: $bg-budget-progress-value;
            border-radius: 3px;
            height: 100%;
            transition: width .5s;
        }
    }

    &.overflow {
        .budget-display__value {
            color: $persianRed;
        }
        .budget-display__progress-value {
            background: $persianRed;
        }
    }
}

.info-section {
    @include flex-container(row, space-between, baseline);
    color: $text-color-light;
    font-family: $fontLatoBlack;
    font-weight: 600;
    margin: 0 5px;

    .label {
        @include font-size(xl-small);
        margin-right: 5px;
        text-transform: uppercase;
    }

    .value {
        @include font-size(xl-small);
        color: $text-color-white;

        > em {
            color: $text-color-light;
            font-style: normal;
        }
    }

    &__pitch-button {
        background-color: $denim;
        border-radius: 5px;
        border: none;
        display: block;
        height: 40px;
        width: 40px;

        &--disabled {
            background-color: $grey;
        }
    }



    &__list-icon {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAdCAYAAABfeMd1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAENJREFUeNpi/A8EDBDAyIAA/xmoCJgY6ABY0HzAgMVXQ8Mno5aMUEtYkDLeaGYcTV2jloxmxtHMOGrJqCXDJzMCBBgAWZULRY4kjJAAAAAASUVORK5CYII=');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 20px;
        display: inline-block;
        height: 40px;
        width: 40px;
    }
}

.wizard-list {
    font-family: $fontLatoBlack;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        background: #ffffff;
        border-bottom: none;
        box-sizing: border-box;
        height: 64px;
        overflow: hidden;

        > div {
            height: 100%;
        }
    }
}

.wizard-entry {
    @include flex-container(row, space-between, center);
    @include font-size(xl-small);
    background: $white;
    box-sizing: border-box;
    color: $text-color-dark;
    height: 100%;
    padding: 10px 20px 10px 5px;
    border-bottom: 1px solid rgba(#000, .1);;

    a {
        text-decoration: none;
    }
    .heading {
        @include flex-container(row, space-between, center);
        box-sizing: border-box;
        flex-basis: 49%;
        padding-left: 15px;
        position: relative;

        .favorite {
            @include absolute(50%,0,0,0);
            background: url-images('icons/icon-fav-active.png') center/cover no-repeat;
            display: block;
            height: 14px;
            width: 14px;
            margin-top: -7px;
        }
        .name {
            @include font-size(x-small);
            box-sizing: border-box;
            color: $text-color-dark;
            flex-basis: 68%;
            font-size: 10px;
            padding: 0 5px 0 2px;
            text-align: left;
            text-transform: uppercase;
        }

        img {
            margin: 9px 5px 0 0;
        }

        .team {
            font-family: $fontLatoBlack;
            flex-basis: 37%;
            &-quantity {
                @include font-size(x-small);
                border: 1px solid #d8a700;
                border-radius: 1px;
                color: $text-color-dark;
                max-width: 21px;
                padding: 1px 2px;
                text-align: center;
            }
            &-name {
                @include font-size(small);
                margin-top: 7px;
            }
            &-names {
                @include font-size(xl-small);
                color: $black;
            }
        }
        .team-quantity {
            margin-bottom: 3px;
        }
        .team-names-bottom {
            @include font-size(small);
            color: $mariner;
            font-family: $fontLatoMedium;
        }
        .team-names-top {
            @include flex-container(row, space-between, center);
            @include font-size(x-small);
            margin-bottom: 2px;
        }
    }

    .column {
        flex-basis: 19%;
        font-family: $fontLatoBlack;
        margin-left: 10px;
        text-align: right;

        &.red {
            .value {
                color: $red;
            }
        }
        .label {
            @include font-size(small);
            color: $text-color-light;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
        .value {
            @include font-size(xl-small);
            color: $text-color-dark;
        }
    }

    &.empty {
        align-items: center;
        background: $bg-athlete-placeholder;

        .position {
            display: inline-block;
            flex-grow: 0;
            text-transform: uppercase;
            width: 56px;
        }

        .label {
            color: $text-color-light;
            flex-grow: 1;
            text-transform: uppercase;
        }
    }
    &.disabled-lineup-item {
        background-color: $whiteSmoke;

        .column {
            .label {
                color: $nobel;
            }

            .value {
                color: $nobel;
            }
        }

        .heading {
            .name {
                color: $nobel;
            }

            .team-name {
                color: $nobel;
            }
        }

        .team-quantity {
            background-color: #e6b639;
            color: $white;
        }
    }
    &.selected-lineup-item {
        background-color: $typo-color-third;
        border-bottom: 1px solid rgba(#000, .1);

        .column {
            .label {
                color: $text-color-dark;
                opacity: .7;
            }

            .value {
                color: $white;
            }
        }

        .heading {
            padding-left: 15px;

            .name {
                color: $text-color-dark;
            }

            .team-name {
                color: $text-color-dark;
            }
            .team-names-bottom {
                color: $white;
            }
        }
    }
    &.selected-roster-item {
        padding: 0 20px 0 0;

        .column {
            width: 17%;
        }

        .heading {
            @include flex-container(row, flex-start, center);
            flex-basis: 49%;
            height: 100%;
            padding: 0;
        }

        .name {
            flex-basis: 55%;
        }
    }
}

.wizard-entry-wrapper {
    height: 100%;
    position: relative;

    .wizard-entry {
        @include absolute(0, 0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: transform .2s ease-out;
        z-index: 2;
    }

    &.active .wizard-entry {
        transform: translate3d(-40vw, 0, 0);
        transition: transform .2s ease-in;
    }
}


.page-slide {
    position: relative;

    &-enter {
        @include absolute();
        transform: translate3d(100vw, 0, 0);
        width: 100vw;

        &-active {
            transform: translate3d(0, 0, 0);
            transition: transform 300ms ease-in;
        }
    }

    &-leave {
        @include absolute();
        transform: translate3d(0, 0, 0);
        width: 100vw;

        &-active {
            transform: translate3d(-100vw, 0, 0);
            transition: transform 300ms ease-in;
        }
    }
}
