@import '../../scss/variables';
@import '../../scss/mixins';

// for players photo position
@for $i from 1 through 9 {
    $left: 10.8 * ($i - 1);
    .team-lineup__item-#{$i} {
        left: $left*1%;
        z-index: $i;
    }
}

.page {
    &.lineups {
        background: url-images('games/field-background.jpg') no-repeat center bottom/100% 110%;
        &.empty {
            @include calc(min-height, '100vh - 114px');
            background: url-images('games/field-background.jpg') no-repeat center bottom/100% 110%;
        }
        &--loading {
            @include flex-container(row, space-around, center);

            %message {
                background: rgba(0, 0, 0, .8);
                border-radius: 5px;
                display: block;
                max-width: 70vw;
                padding: 20px;
                text-align: center;
            }

            .loading-message {
                @extend %message;
                color: $lightGrey;
            }

            .error-message {
                @extend %message;
                color: $red;
            }
        }

        .top {
            padding: 20px;
            position: relative;
            text-align: center;

            .title {
                @include font-size(big);
                font-family: $fontMontserratBlack;
                margin: 0 0 6px;
                text-transform: uppercase;

                span:first-child {
                    font-family: $fontLatoMedium;
                }

                span:last-child {
                    font-family: $fontMontserratBlack;
                }
            }

            .sub-title {
                @include font-size(xxl-small);
                color: $shipCove;
                font-family: $fontLatoMedium;
                text-transform: uppercase;
            }

            .Btn {
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }

        .empty-lineup {
            text-align: center;
            padding: 0 0 60px;
            .top {
                background: url("../../images/lineups/empty-lineups-bg.png") no-repeat center 10px/35vh;
                margin: 0 0 20px;
                padding: 20px 20px 0;
            }
            .top-text {
                @include font-size(xl-small);
                font-family: $fontMontserratBlack;
                line-height: 0.938rem;
                margin: 33vh auto 0;
                text-transform: uppercase;
                width: 70%;
            }
            .lineup-explanation {
                @include font-size(xxl-small);
                font-family: $fontLatoMedium;
                line-height: 1rem;
                margin: 15px auto 0;
                width: 70%;
            }
        }

        a {
            text-decoration: none;
        }

        .empty-row {
            @include flex-container(row, center, center);
            @include calc("width", '100vw - 10px');
            background-color: rgba($white, .2);
            border-radius: 5px;
            box-sizing: border-box;
            height: 70px;
            margin: 5px 0 5px 5px;
            padding: 10px 20px;

            .title {
                @include font-size(xxl-small);
                color: $text-color-white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        .lineup-item {
            @include calc("width", '100vw - 10px');
            margin: 0 0 5px 5px;
            border-radius: 5px;
            section {
                @include flex-container(row, space-between, stretch);
                border-radius: 5px;
                background: linear-gradient(110deg, white 49%, #7982a3 49%);
            }

            aside {
                width: 120px;
            }


            &:before {
                content: ' ';
                display: block;
                height: 50%;
                width: 100%;
                background: $btnWarning;
                border-radius: 5px 5px 0 0;

            }

            &:after {
                content: ' ';
                display: block;
                height: 50%;
                width: 100%;
                background: $btnPrimary;
                border-radius: 0 0 5px 5px;
            }

            &__name {
                @include font-size(small);
                color: $text-color-dark;
                font-family: $fontLatoBlack;
                font-weight: 600;
                margin: 0 10px 0 0;
                text-transform: uppercase;
            }
            &__info {
                @include flex-container(column, space-between, stretch);
                border-radius: 5px 0 0 5px;
                box-sizing: border-box;
                padding: 13px 10px 10px 15px;
                width: 40%;

                .data {
                    @include flex-container(column, space-between, flex-end);
                    font-family: $fontLatoBlack;
                    text-align: right;

                    &__title {
                        @include font-size(extra-small);
                        color: $text-color-light;
                        text-transform: uppercase;
                    }
                    &__num {
                        @include font-size(xxl-small);
                        color: $text-color-dark;
                    }
                }
            }
        }

        .lineup-actions {
            @include absolute(0, 0, 0, 0);
            @include flex-container(column, space-between, stretch);
            background: $persianRed;

            .toolbar-button {
                @include font-size(small);
                @include flex-container(row, stretch, center);
                color: $white;
                flex-grow: 2;
                font-family: $fontLatoBlack;
                font-weight: 600;
                text-transform: uppercase;
                width: 100%;

                .icon {
                    background-repeat: no-repeat;
                    background-size: 16px 16px;
                    height: 16px;
                    margin-right: .5rem;
                    width: 16px;

                    &-cup {
                        background-image: url(../../images/lineups/icon-cup.png);
                    }

                    &-delete {
                        background-image: url(../../images/lineups/icon-delete.png);
                    }

                    &-duplicate {
                        background-image: url(../../images/lineups/icon-duplicate.png);
                    }
                }

                .label {
                    flex-grow: 2;
                }
            }
        }

        .lineup-rows {
            padding-bottom: 55px;
        }
        .button {
            @include flex-container(column, center, center);
            @include font-size(xl-small);
            font-weight: 600;
            text-transform: uppercase;

            &.remove {
                background: $btnWarning;
                border-radius: 0 5px 0 0;
            }

            &.duplicate {
                background: $btnDefault;
            }

            &.create {
                background: $btnPrimary;
                border-radius: 0 0 5px 0;
            }

            .icon {
                margin-bottom: 5px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

// Styles for lineup container
.team-lineup-container {
    @include flex-container(column, flex-start, flex-end);
    height: 100%;
    width: 60%;
    &.lineup-page {
        padding-top: 32px;
    }

    .starts-on {
        color: white;
        margin: 5px 10px 5px 0;

        .data__title {
            text-transform: uppercase;
            margin-right: 5px;
            @include font-size(small);

        }
        &.finished,
        &.live {
            text-transform: uppercase;
            background: no-repeat right/20px;
            padding-right: 20px;
        }
        &.finished {
            background: url-images('games/finished-inline-status.png') no-repeat right/16px;
        }
        &.live {
            background-image: url-images('games/live-inline-status.png');
        }
    }

    .team-lineup {
        @include flex-container(row, space-around, initial);
        flex-wrap: wrap;
        margin: 0 5px 0 0;
        max-width: 215px;
        overflow: hidden;

        &__item {
            position: relative;
            height: 45px;
            width: 50px;
            margin-right: 5px;

            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                top: -2px;
            }
            &:nth-child(n+7) {
                top: -4px;
            }
            img {
                position: absolute;
                height: 40px;
                z-index: 2;
                bottom: 6px;
                &.ghost {
                    opacity: .3;
                }
            }
        }
        &__caption {
            @include ellipsis();
            @include font-size(extra-small);
            background: rgba(white, .9);
            border-radius: 10px;
            bottom: 0;
            color: $text-color-dark;
            font-family: $fontLatoMedium;
            height: 14px;
            left: -2px;
            letter-spacing: -.2px;
            line-height: 12px;
            padding: 1px 5px 0 5px;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            width: 49px;
            z-index: 2;
            &.ghost {
                color: $text-color-light;
            }
        }
        &__empty {
            display: block;
            height: 37px;
            margin-bottom: 8px;
            width: 50px;
        }
    }

}
