@import "../../scss/variables";
@import "../../scss/mixins";

.schedule {
    @include flex-container(column, flex-start, flex-start);
    background: url('../../images/games/field-background.jpg') no-repeat;
    background-position: 0 calc(100% - 50px);
    background-size: 100vw 100vh;
    min-height: 100vh;

    &__item {
        @include flex-container(row, space-between, stretch);
        margin-bottom: 5px;

        .schedule-team {
            flex-shrink: 0;
            flex-grow: 1;
        }

        &-divider {
            margin: 5px;
            text-align: center;
            width: 20px;
            flex-shrink: 0;
            flex-grow: 0;
        }
    }

    &__vs {
        @include flex-container(column, space-around, center);
        @include font-size(extra-small);
        color: $text-color-light;
        line-height: 1.2;
    }

    &__score {
        @include flex-container(column, flex-start, center);
        margin: 5px;
        text-align: center;
        width: 20px;

        &-value {
            @include font-size(xl-small);
            border-radius: 10px;
            color: $white;
            font-family: $fontLatoBlack;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 5px;
            padding: 3px 6px;
            white-space: nowrap;

            .schedule__score--live & {
                background: $overall-color-action;
            }

            .schedule__score--final & {
                background: $typo-color-third;
            }
        }

        &-label {
            @include font-size(x-small);
            font-family: $fontLatoMedium;
            font-weight: 400;
            line-height: 1.2;
            white-space: nowrap;

            .schedule__score--live & {
                color: $overall-color-action;
            }

            .schedule__score--final & {
                color: $typo-color-third;
            }
        }
    }

    &__match-wrapper {
        background: white;
        border-radius: 5px;
        color: black;
        margin: 10px;
        padding: 5px;
    }

    &__icon {
        display: block;
        border: 1px solid rgba($white, .2);
        border-radius: 50%;
        height: 17px;
        position: relative;
        width: 17px;
        &:before {
            @include absolute($top: 3px, $left: 3px);
            content: '';
            border-radius: 50%;
            display: block;
            height: 11px;
            width: 11px;
        }
        &--first {
            margin-top: 20px;
        }
        &--not-started {
            &:before {
                background: $white;
            }
        }
        &--live {
            &:before {
                background: $overall-color-action;
            }
        }
        &--final {
            &:before {
                background: $typo-color-third;
            }
        }
    }

    &__timeblock {
        @include flex-container(row, flex-start, stretch);
    }

    &__timeblocks {
        @include flex-container(column, flex-start, center);
        flex-grow: 20;
        margin-bottom: 160px;
        margin-top: 20px;
    }

    &__timeblock-title {
        @include font-size(xl-small);
        padding-right: 18px;
        padding-top: 28px;
        text-align: right;
        white-space: nowrap;
        width: 35px;
    }

    &__timeline {
        @include flex-container(column, flex-start, center);
        position: relative;
    }

    &__connector {
        border-top: 2px solid rgba($white, 0.2);
        margin-right: -40px;
        margin-top: 30px;
        width: 50px;
        z-index: -1;
    }

    &__divider-padding {
        border-left: 2px solid rgba($white, 0.2);
        height: 21px;
    }

    &__timeline-divider {
        border-left: 2px solid rgba($white, 0.2);
        flex-grow: 20;
    }

    .TabPanel {
        width: 100%;
        height: 100%;

        .TabContainer {
            @include flex-container(column, flex-start, center);
        }

        .TabBar {
            @include font-size(xxl-small);
            background: white;
            font-family: $fontLatoMedium;
            font-weight: 700;

            &__Tab {
                @include font-size(x-small);
                box-sizing: border-box;
                color: $text-color-light;
                height: 43px;
                line-height: 12px;

                &.selected {
                    border-bottom-color: $overall-color-action;
                    color: $overall-color-action;
                }
            }

            .TabBar__Tab + .TabBar__Tab {
                border-left: none;
            }
        }
    }

    .powered-by {
        position: absolute;
        bottom: 79px;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.schedule-team {
    text-align: center;

    &__logo {
        width: 80px;

        img {
            height: 30px;
            margin: 5px;
        }
    }

    &__name {
        @include font-size(xl-small);
        @include ellipsis();
        width: 80px;
        color: $text-color-dark;
    }
}
