@import 'variables';
@import 'mixins';

.btn {
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    color: $white;
    display: inline-block;
    font: 600 $font-size-root $fontLatoMedium;
    letter-spacing: 0;
    line-height: 1;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;

    &:hover,
    &:active {
        outline: none;
    }

    &-large {
        width: 80vw;
    }

    &-wide {
        width: 100%;
    }
    &-grey {
        background: $grey;
    }
    &-blue {
        background-color: $blue;
        color: $white;

        &.btn-active {
            border: 1px solid $grey;
            background-color: lighten( $blue, 20% );
        }
    }

    &-white {
        background-color: white;
        color: black;
    }

    &-havelock {
        background-color: $havelockBlue;
    }

    &-mariner {
        @include font-size(small);
        background-color: $mariner;
        color: $white;
        padding: 10px;
    }

    &-mariner-color {
        background-color: $mariner;
        color: $white;
    }

    &-popup {
        @include font-size(small);
        font-family: $fontLatoBlack;
        letter-spacing: 1px;
        padding: 15px 2px;
        width: 47%;
    }

    &-bare {
        background: transparent;
        color: $white;
    }

    &-small {
        @include font-size(x-small);
        padding: 10px 15px;
    }

    &-small-two-blocks {
        p:first-child {
            @include font-size(x-small);
            margin-bottom: 4px;
        }
        P:last-child {
            font-size: 0.438rem;
        }
    }

    &-regular {
        @include font-size(xxl-small);
        height: 50px;
        padding: 20px 0;
        width: 27vw;
    }

    &-tiny {
        @include font-size(extra-small);
        height: 40px;
        padding: 10px 0;
        width: 20vw;
    }

    &-halfwidth {
        @include font-size(extra-small);
        height: 40px;
        padding: 10px 0;
        width: 50%;
    }

    &-blue-filter {
        @include font-size(x-small);
        background-color: transparent;
        border-radius: 16px;
        box-sizing: border-box;
        color: $text-color-light;
        min-width: 68px;
        padding: 10px 5px 9px;

        &:active {
            border-radius: 16px;
            background-color: $overall-color-basic;
            color: $text-color-white;
        }
        &.active {
            border-radius: 16px;
            background-color: $overall-color-basic;
            color: $text-color-white;
        }
        &.disabled {
            background-color: $greyChateau;
            border-radius: 16px;
            color: $shuttleGrey;
            pointer-events: none;
            width: 75px;
        }
    }

    &-favorite {
        background: $whiteSmoke url('../images/icons/icon-fav.png') no-repeat center/20px;
        border-radius: 3px;
        border: none;
        box-sizing: border-box;
        height: 40px;
        min-width: 40px;
        padding: 10px 5px;
        width: 40px;
        &-active {
            background: #f1f1f1 url('../images/icons/icon-fav-active.png') no-repeat center/20px;
        }
    }

    &-red {
        @include font-size(xxl-small);
        background-color: $red;
        letter-spacing: 0.2rem;
        padding: 13px 30px;
        &:active, &:hover {
            background-color: lighten( $red, 10% );
        }
        &.btn-red-big {
            @include font-size(xl-medium);
            padding: 22px 15px;
        }
        &.btn-red-action {
            @include font-size(xxl-small);
            padding: 10px 17px;
        }
    }
    &-social {
        height: 40px;
        width: 130px;
        &.btn-fb {
            background-image: url('../images/home/fb-btn.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 10px;
        }
        &.btn-google {
            background-image: url('../images/home/google-btn.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 10px;
        }
    }
    &-back {
        @include font-size(xxl-small);
        background: transparent;
        color: $white;
        padding: 0;
        position: relative;
        &:active {
            color: darken($white, 5);
        }
        &:before {
            background: url('../images/icons/btn-arrow-left.png') center/cover no-repeat;
            content: '';
            display: block;
            height: 10px;
            left: -9px;
            position: absolute;
            top: 2px;
            width: 5px;
        }
    }
    &-hide {
        background-color: $mariner;
        height: 30px;
        position: relative;
        width: 40px;
        &:after {
            content: '';
            display: block;
            height: 5px;
            left: 26px;
            position: absolute;
            top: 17px;
            width: 9px;
        }
        &.open {
            &:after {
                background: url('../images/icons/btn-arrow-down.png') center/cover no-repeat;
                transform: rotateZ(180deg);
            }
        }
        &.close {
            &:after {
                background: url('../images/icons/btn-arrow-down.png') center/cover no-repeat;
            }
        }
    }
    &-filter-toggler {
        appearance: none;
        background-color: $havelockBlue;
        border-radius: 3px;
        border: none;
        box-shadow: none;
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 30px;
        margin: 0;
        overflow: hidden;
        padding: 0;
        transition: background 0.2s;
        width: 30px;
        span {
            background: $cocoaBrown;
            display: block;
            height: 2px;
            left: 9px;
            position: absolute;
            right: 9px;
            top: 14px;
            transition: background 0s 0.2s;
            &:before,
            &:after {
                background-color: $cocoaBrown;
                content: "";
                display: block;
                height: 2px;
                left: 0;
                position: absolute;
                transition-delay: 0.2s, 0s;
                transition-duration: 0.2s, 0.2s;
                width: 100%;
            }
            &:before {
                top: -5px;
                transition-property: top, transform;
            }
            &:after {
                bottom: -5px;
                transition-property: bottom, transform;
            }
        }
        &.active {
            background-color: $havelockBlue;
            span {
                background: none;
                &:before,
                &:after {
                    transition-delay: 0s, 0.2s;
                }
                &:before {
                    top: 0;
                    transform: rotate(45deg);
                }
                &:after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &-expand {
        background: $whiteSmoke;
        border-radius: 0;
        height: 42px;
        padding: 0;
        position: relative;
        text-align: center;
        width: 100%;
        i {
            background: url('../images/icons/arrow-down-grey.png') center/contain no-repeat;
            display: inline-block;
            height: 8px;
            width: 13px;
        }
        &:active {
            background: lighten($whiteSmoke, 5);
            border: none;
            outline: none;
        }
    }
    &-wizard {
        @include font-size(xxl-small);
        color: $shuttleGrey;
        font-family: $fontLatoBlack;
        padding: 9px 12px;
        text-transform: uppercase;
    }
    &-next:not([disabled]) {
        background: $typo-color-third;
        color: $white;
    }
    &-undraft {
        background: $persianRed;
        color: $white;
    }
    &-wizard-compare {
        background-color: $mariner;
        color: $white;
    }
    &-info-table {
        @include font-size(x-small);
        background-color: $white;
        border-radius: 0;
        color: $text-color-dark;
        font-family: $fontLatoBlack;
        margin: 1px 0;
        padding: 15px 30px;
        width: 100%;
    }
    &-plus {
        border: 1px solid $freeSpeechBlue;
        height: 30px;
        padding: 0;
        width: 30px;
        &:after,
        &:before {
            background: $white;
            content: '';
            display: block;
            position: absolute;
        }
        &:after {
            height: 2px;
            left: 8px;
            top: 13px;
            width: 12px;
        }
        &:before {
            height: 12px;
            left: 13px;
            top: 8px;
            width: 2px;
        }
    }
    &-square {
        height: 30px;
        padding: 0;
        width: 30px;
    }
    &-dialog {
        background: $white;
        border: 1px solid rgba($black, .10);
        border-radius: 0;
        padding: 20px 5px;
    }
    &-dialog-red {
        color: $persianRed;
    }
    &-dialog-blue {
        color: $havelockBlue;
    }

    &-compare {
        @include font-size(small);
        background: $mariner;
        border-radius: 0;
        color: $white;
        font-family: $fontLatoBlack;
        height: 100%;
        padding: 5px;
        text-align: center;
        width: 50%;
        &.disabled {
            background: #959aa0;
            color: #5d636a;
            pointer-events: none;
        }
        .icon {
            background: url('../images/comparison/compare-icon.png') center/cover no-repeat;
            display: inline-block;
            height: 17px;
            margin-bottom: 9px;
            width: 17px;
            &-clear {
                background: url('../images/comparison/clear-compare-icon.png') center/cover no-repeat;
            }
            &-disabled {
                background: url('../images/comparison/clear-compare-icon.png') center/cover no-repeat;
            }
        }
    }

    &-swipe {
        width: 50%;
    }

    &-draft {
        @include font-size(small);
        border-radius: 0;
        color: $white;
        font-family: $fontLatoBlack;
        height: 100%;
        padding: 5px;
        text-align: center;
        &.red {
            background: $persianRed;
        }
        &.green {
            background: $mantis;
        }
        .icon {
            display: inline-block;
            height: 15px;
            margin-bottom: 10px;
            position: relative;
            width: 15px;
            &:after,&:before {
                background: $white;
                content: '';
                height: 2px;
                position: absolute;
                top: 7px;
                width: 15px;
            }
            &-draft {
                &:after {
                    right: 0;
                    transform: rotate( 90deg );
                }
                &:before {
                    left: 0;
                }
            }
            &-undraft {
                &:after {
                    display: none;
                }
                &:before {
                    left: 0;
                }
            }
        }
    }

    &-circle {
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 rgba(143, 29, 29, 0.35);
        height: 40px;
        padding: 0;
        position: relative;
        width: 40px;
        &.red {
            background-color: $persianRed;
        }
        &.icon-plus {
            &:after,
            &:before {
                content: '';
                position: absolute;
                display: block;
                background: $white;
            }
            &:after {
                width: 12px;
                height: 2px;
                left: 14px;
                top: 19px;
            }
            &:before {
                width: 2px;
                height: 12px;
                left: 19px;
                top: 14px;
            }
        }
    }

    &-disabled,
    &[disabled] {
        background-color: $disable-color;
        opacity: 0.75;
        pointer-events: none;
    }
}
