/* colors */
$apple: #68a656;
$azure: #edf7f9;
$bondiBlue: #0083c4;
$black: #000000;
$blackRussian: #1d1f25;
$blue: #0f3659;
$blueWhale: #1B3247;
$bunting: #1c2b4b;
$pitchBlue: #181f3b;
$cardinal: #ac1a2f;
$charcoal: #444444;
$cocoaBrown: #231300;
$cornflowerBlue: #5e8fff;
$creamCan: #f5c558;
$curiousBlue: #4083C1;
$darkGrey: #ababab;
$denim: #1060ab;
$dimGrey: #6d6d6d;
$emerland: #56cc6a;
$echoBlue: #9faac4;
$freeSpeechBlue: #3e64bb;
$gainsboro: #e4e1e1;
$ghost: #bababb;
$grey: #d3d3d3;
$greyOpaq: rgba($grey, 0.2);
$greyChateau: #959aa0;
$greyChateau2: #A3A7AC;
$havelockBlue: #4E73C7;
$lightGrey: #d5d4d4;
$linkWater: #c5cbcf;
$lightSteelBlue: #b5c4e4;
$matterhorn: #4D4C4C;
$mariner: #3c5ca5;
$mantis: #85cb70;
$malachite: #00d065;
$midnightExpress: #1a263f;
$nero: #252525;
$nobel: #9a9a9a;
$orangePeel: #ff9800;
$paleCornflowerBlue: #9fc2f8;
$pastelGreen: #6ad26c;
$periwinkle: #b8c9f0;
$persianRed: #dc2b2b;
$pigmentGreen: #1AAC5F;
$poloBlue: #93a7d0;
$periwinkle: #bec9eb;
$quartz: #e3e3e5;
$raven: #6a6d73;
$red: #d20408;
$resolutionBlue: #37447e;
$rockBlue: #94a1c1;
$ronchi: #e7b74b;
$shipCove: #6e7fb1;
$shuttleGrey: #5d636a;
$silver: #bdbdbd;
$slateGrey: #68778d;
$solitude: #e4e9f6;
$stormGrey: #797e85;
$suvaGrey: #929292;
$toryBlue: #344e89;
$summerSky: #3fa9f5;
$veryLightGrey: #c8c8c8;
$waikawaGrey: #677593;
$white: #fff;
$whiteSmoke: #F2F2F2;
$whisper: #ebebeb;
$wildBlueYonder: #8795B4;
$zambezi: #606060;
