@font-face {
    font-family: montserratblack;
    src: url('../fonts/MontserratBlack/montserrat-black.woff2') format('woff2'),
    url('../fonts/MontserratBlack/montserrat-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: latomedium;
    src: url('../fonts/LatoMedium/lato-medium-webfont.woff2') format('woff2'),
    url('../fonts/LatoMedium/lato-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: latoblack;
    src: url('../fonts/LatoBlack/lato-black-webfont.woff2') format('woff2'),
    url('../fonts/LatoBlack/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ".PingFang SC";
    font-weight: 500;
    src: local("PingFang-SC-Medium");
}

@font-face {
    font-family: ".PingFang SC";
    font-weight: 400;
    src: local("PingFang-SC-Regular");
}

@font-face {
    font-family: ".PingFang SC";
    font-weight: 300;
    src: local("PingFang-SC-Light");
}

@font-face {
    font-family: 'Droid Sans';
    font-weight: 300;
    src: local('Droid Sans');
}
