@import 'variables';

@mixin mquery( $pattern ) {

    @if $pattern == $mq-iphone5-landscape-rule {
        @media #{$mq-iphone5-landscape} { @content; }
    }
    @else if $pattern == $mq-iphone5-portrait-rule {
        @media #{$mq-iphone5-portrait} { @content; }
    }

    @else if $pattern == $mq-iphone6-landscape-rule {
        @media #{$mq-iphone6-landscape} { @content; }
    }
    @else if $pattern == $mq-iphone6-portrait-rule {
        @media #{$mq-iphone6-portrait} { @content; }
    }

    @else if $pattern == $mq-iphone6P-landscape-rule {
        @media #{$mq-iphone6P-landscape} { @content; }
    }
    @else if $pattern == $mq-iphone6P-portrait-rule {
        @media #{$mq-iphone6P-portrait} { @content; }
    }
}

@mixin ellipsis () {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin absolute ($top: none, $right: none, $bottom: none, $left: none) {
    position: absolute;
    @if ($top != none) { top: $top; }
    @if ($right != none) { right: $right; }
    @if ($bottom != none) { bottom: $bottom; }
    @if ($left != none) { left: $left; }
}

@mixin flex-container ($direction: row, $justify-content: space-between,
                       $align-items: center, $display: flex)
{
    display: $display;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin square($size) {
    height: $size;
    width: $size;
}

@mixin font-size($size, $important: false) {
    $default: map_get($font-sizes-default, $size);
    $alternate: map_get($font-sizes-chi, $size);

    @if ($important) {
        font-size: $default !important;
        line-height: $default !important;
    }
    @else {
        font-size: $default;
        line-height: $default;
    }

    @if ($default != $alternate) {
        .lang_chi & {
            @if ($important) {
                font-size: $alternate !important;
                line-height: $alternate !important;
            }
            @else {
                font-size: $alternate;
                line-height: $alternate;
            }
        }
    }
}

/*FUNCTIONS*/
@function url-images($url) {
    @return url($images-path + $url);
}
