@import "color-variables";

/*** Theme variables ***/
@import "themes/og-theme";
/*** Theme variables END ***/

/** Main OG theme text colors **/
$text-color-dark:  #49547f !default;
$text-color-white: $white !default;
$text-color-light: #92a0cc !default;
/** Main OG theme text colors END **/


/** Main theme colors **/
$bg-main-color-primary:   #171a25 !default;
$bg-main-color-secondary: #12141e !default;

$overall-color-action:     #ac1a2f !default;
$overall-color-basic:      #37447e !default;
$overall-color-basic-dark: #252d4d !default;

$typo-color-first:  #f9ba3f !default;
$typo-color-second: #f79a48 !default;
$typo-color-third:  #2bcb8c !default;
$typo-color-fourth: #619fff !default;
/** Main theme colors END **/

/** Main theme fonts **/
$base-font-default:    latoblack, sans-serif !default;
$base-font-secondary:  latomedium, sans-serif !default;
$base-font-additional: montserratblack, sans-serif !default;
/** Main theme fonts END **/

$error-color: $red;
$disable-color: $grey;
$header-box-shadow: 0 -2px 20px -4px rgba(0,0,0, .8);
$pane-color: $grey;

$spinner-background: #171e2e;
$spinner-color: $whiteSmoke;

$mainTransition: all .3s ease-in-out;

/* Btn variables*/
$btnPrimary:  $persianRed !default;
$btnDefault:  $havelockBlue !default;
$btnPayment:  $typo-color-third !default;
$btnWarning:  $typo-color-second !default;
$btnConfirm:  $solitude !default;
$btnDisabled: $greyChateau !default;
/***  Btn END  ***/


/*Offsets*/
$basePadding: 0 20px;

/*** Font properties ***/
$font-size-root: 16px;

// ENG default
$font-sizes-default: (
    extra-small: 0.500rem, // 8px
    small: 0.563rem,       // 9px
    x-small: 0.625rem,     // 10px
    xl-small: 0.688rem,    // 11px
    xxl-small: 0.75rem,    // 12px
    medium: 0.813rem,      // 13px
    x-medium: 0.875rem,    // 14px
    xl-medium: 0.938rem,   // 15px
    basic: 1rem,           // 16px
    big: 1.125rem,         // 18px
    xs-big: 1.188rem,      // 19px
    x-big: 1.5rem,         // 24px
    xm-big: 1.75rem,       // 28px
    xl-big: 1.875rem,      // 30px
    xxl-big: 2rem,         // 32px
);

// Chinese
$font-sizes-chi: (
    extra-small: 0.500rem, // 9px
    small: 0.563rem,       // 11px
    x-small: 0.625rem,     // 11px
    xl-small: 0.688rem,    // 11px
    xxl-small: 0.75rem,    // 12px
    medium: 0.813rem,      // 13px
    x-medium: 0.875rem,    // 14px
    xl-medium: 0.938rem,   // 15px
    basic: 1rem,           // 16px
    big: 1.125rem,         // 18px
    xs-big: 1.188rem,      // 19px
    x-big: 1.5rem,         // 24px
    xm-big: 1.75rem,       // 28px
    xl-big: 1.875rem,      // 30px
    xxl-big: 2rem,         // 32px
);

$fontMontserratBlack: $base-font-additional;
$fontLatoMedium:      $base-font-secondary;
$fontLatoBlack:       $base-font-default;

//$fontMontserratBlack: '.PingFang SC';
//$fontLatoMedium: '.PingFang SC';
//$fontLatoBlack: '.PingFang SC';
/*** Font properties END***/

/*Initial path*/
$images-path: '../../images/';

/* media queries */
$mq-iphone5-landscape: "only screen and (min-device-width: 320px) and (orientation: landscape)";
$mq-iphone5-portrait: "only screen and (min-device-width: 320px) and (orientation: portrait)";
$mq-iphone5-landscape-rule: "iphone5-landscape";
$mq-iphone5-portrait-rule: "iphone5-portrait";

$mq-iphone6-landscape: "only screen and (min-device-width: 375px) and (orientation: landscape)";
$mq-iphone6-portrait: "only screen and (min-device-width: 375px) and (orientation: portrait)";
$mq-iphone6-landscape-rule: "iphone6-landscape";
$mq-iphone6-portrait-rule: "iphone6-portrait";

$mq-iphone6P-landscape: "only screen and (min-device-width: 414px) and (orientation: landscape)";
$mq-iphone6P-portrait: "only screen and (min-device-width: 414px) and (orientation: portrait)";
$mq-iphone6P-landscape-rule: "iphone6P-landscape";
$mq-iphone6P-portrait-rule: "iphone6P-portrait";


$fiftyfifty-room-color: #e4004c !default;
$top20-room-color: #f3c800 !default;
$doubleup-room-color: #00d5a3 !default;
$head2head-room-color: #192474 !default;
$quadruple-room-color: #68bfdb !default;
$top15-room-color: #b1b6c9 !default;


$filter-background: $midnightExpress url-images('lobby/competitions-bg.jpg') top center/cover no-repeat !default;
$filter-range-label-color: #8795b4 !default;
$room-type-title-color: #6e7fb1 !default;
