@import 'normalize';
@import 'variables';
@import 'fonts';
@import 'button';

/** Default variables **/
$bg-color-main-body: $bg-main-color-primary !default;
/** Default variables END**/

html {
    font-size: $font-size-root;
    font-family: $fontLatoMedium;
    text-rendering: geometricPrecision !important;
}
body {
    background-color: $bg-color-main-body;
    color: $white;
    &.no-scroll {
        height: 100%;
        margin: 0;
        overflow-y: hidden;
        position: relative;

        .page {
            touch-action: none;
        }
    }
}
.layout-component {
    position: relative;
}
p {
    margin: 0;
}
.with-footer {
    margin-bottom: 50px;
}



// Animations
.dialog-overlay-enter {
    .dialog {
        transform: scale(0);
    }

    &-active {
        .dialog {
            transform: scale(1);
            transition: transform 0.2s ease-in-out;
        }
    }
}
.dialog-overlay-leave {
    .dialog {
        transform: scale(1);
    }

    &-active {
        .dialog {
            transform: scale(0);
            transition: transform 0.2s ease-in-out;
        }
    }
}

.notification-overlay-enter {
    .notification {
        transform: translate(0, -4000px);
    }

    &-active {
        .notification {
            transform: translate(0, 0);
            transition: transform 1s ease-in-out;
        }
    }
}
.notification-overlay-leave {
    .notification {
        transform: translate(0, 0);
    }

    &-active {
        .notification {
            transform: translate(0, -4000px);
            transition: transform 1s ease-in-out;
        }
    }
}
