@import "../color-variables";

/**** OG Theme ****/

/** Main OG theme fonts **/
//$base-font-default:    '.PingFang SC', 'Droid Sans', latoblack, sans-serif;
//$base-font-secondary:  '.PingFang SC', 'Droid Sans', latomedium, sans-serif;
//$base-font-additional: '.PingFang SC', 'Droid Sans', montserratblack, sans-serif;
/** Main OG theme fonts END **/


/** Main OG theme text colors **/
$text-color-dark:  #49547f;
$text-color-white: $white;
$text-color-light: #92a0cc;
/** Main OG theme text colors END **/


/** Main OG theme colors **/
$bg-main-color-primary:   #171a25;
$bg-main-color-secondary: #12141e;

$overall-color-action:     #ac1a2f;
$overall-color-basic:      #37447e;
$overall-color-basic-dark: #252d4d;

$typo-color-first:  #f9ba3f;
$typo-color-second: #f79a48;
$typo-color-third:  #2bcb8c;
$typo-color-fourth: #619fff;
/** Main OG theme colors END **/


/** Body main **/
$bg-color-main-body: $bg-main-color-primary;
/** Body main END **/


/** Header **/
$bg-color-header:      #080c18;
$border-bottom-header: 3px solid $resolutionBlue;
$bell-icon:            url('../../images/icons/og-icons/icon-notification-bell-og.png');
$bg-bell-icon-header:  #ac1a2f;
$avatar-margin-right:  17%;
/** Header END **/


/** Footer **/
$bg-color-footer:          #1a2238;
$border-top-footer:        none;
$height-footer:            50px;
$link-color-footer:        #7982a3;
$link-active-color-footer: #619fff;
$width-icon-soccer-footer: 30px;

// icons
$icon-games-footer:               url('../../images/footer/og/icon-games-og.png');
$icon-games-active-footer:        url('../../images/footer/og/icon-games-active-og.png');
$icon-lobby-soccer-footer:        url('../../images/footer/og/icon-lobby-og.png');
$icon-lobby-soccer-active-footer: url('../../images/footer/og/icon-lobby-active-og.png');
$icon-lineups-footer:             url('../../images/footer/og/icon-lineups-og.png');
$icon-lineups-active-footer:      url('../../images/footer/og/icon-lineups-active-og.png');
$icon-schedule-footer:            url('../../images/footer/og/icon-schedule-og.png');
$icon-schedule-active-footer:     url('../../images/footer/og/icon-schedule-active-og.png');
/** Footer END **/


/** Wizard footer **/
$bg-color-wizard-footer:                #1a2238;
$bg-color-wizard-line-footer:           #425382;
$bg-color-wizard-line-fill-footer:      #769dff;
$border-top-wizard-footer:              none;
$step-color-wizard-footer:              #8da1cf;
$icon-info-border-wizard-footer:        1px solid #425382;
$icon-info-border-active-wizard-footer: 1px solid #769dff;
$icon-info-color-wizard-footer:         #425382;
$icon-info-color-active-wizard-footer:  #769dff;
/** Wizard footer END **/


/** Lobby page **/
$bg-filters-lobby:          none;
$subtitle-color-lobby-head: $shipCove;
/** Lobby page END**/


/** Competition room group **/
$bg-free-roll-roomgroup:       #f8b93f;
$bg-free-roll-empty-roomgroup: #ca9939;
$bg-fifty-roomgroup:           #ac1a2f;
$bg-fifty-empty-roomgroup:     #7c1322;
$bg-twenty-roomgroup:          #6e0240;
$bg-twenty-empty-roomgroup:    #5e083b;
$bg-double-roomgroup:          #37447e;
$bg-double-empty-roomgroup:    #323d6c;
$bg-head-roomgroup:            #687fc1;
$bg-head-empty-roomgroup:      #596ca2;
$bg-quadruple-roomgroup:       #2bcb8c;
$bg-quadruple-empty-roomgroup: #28a977;
$bg-fefteen-roomgroup:         #b0b5c8;
$bg-fefteen-empty-roomgroup:   #858998;
$label-color-roomgroup:        $text-color-light;
$win-label-color-roomgroup:    $text-color-dark;
$color-prize-roomgroup:        $typo-color-first;
$color-value-roomgroup:        $typo-color-first;
/** Competition room group END **/


/** Wizard header **/
$bg-budget-progress-value: $typo-color-first;
/** Wizard header END **/


/** Wizard pitch view **/
$bg-border-player: #ffffff;
/** Wizard pitch view END **/

/** Athletes list **/
$bg-athlete-placeholder: #eeeeee linear-gradient(#dadde6, #eeeeee) !default;
/** Athletes list END **/

/** Competition room **/
$bg-main-room:               url('../../images/room/main-room-bg.jpg') center/100% 100% no-repeat;
$bg-game-status-room:        rgba(26,38,63, .8);
$color-table-head-room:      $text-color-dark;
$color-table-lable-room:     $text-color-dark;
$color-table-prize-room:     $typo-color-first;
$color-icon-text-room:       $text-color-light;
$color-live-status-room:     $overall-color-action;
$color-finished-status-room: $typo-color-third;
/** Competition room END **/

$text-balance-color:   $typo-color-first;

/*** Onboarding variables ***/

/** Welcome onboarding **/
$bg-welcome-onboarding:        $bg-main-color-primary;
$bg-budget-welcome-onboarding: $bg-main-color-primary;
$bg-main-onboarding:           $bg-main-color-primary;
/** Welcome onboarding END **/

/*** Onboarding variables END ***/


/** My Games **/
$bg-empty-my-games: url('../../images/games/empty-games-cup-bg.png') no-repeat center 10px/34vh;
/** My Games END **/

/** Buttons color variables **/
$btnPrimary:  $persianRed;
$btnDefault:  $havelockBlue;
$btnPayment:  $typo-color-third;
$btnWarning:  $typo-color-second;
$btnConfirm:  $solitude;
$btnDisabled: $greyChateau;
/** Buttons color variables END**/


/** ScoreCard **/
$bg-scorecard-head: rgba(26,38,63, .8);
/** ScoreCard END**/


$filter-range-label-color: white;
$btnDefault: #37447e;
$room-type-title-color: #92a0cc;
$btnPrimary: $cardinal;
