@import '../../scss/mixins';
@import '../../scss/variables';

/** Default variables **/
$label-color-roomgroup:     $silver !default;
$win-label-color-roomgroup: $zambezi !default;
$color-prize-roomgroup:     $pigmentGreen !default;
$color-value-roomgroup:     $dimGrey !default;
/** Default variables END **/

//room item select animation
@keyframes showSelectedText {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.8);
    }
}


.competition-room-ns {
    box-sizing: border-box;
    background: $white no-repeat left bottom;
    border-radius: 3px;
    box-shadow: 0 1px 4.8px 0.2px rgba($black, 0.27);
    margin: 10px 0 5px 8px;
    padding: 20px;
    position: relative;
    transition: max-height 1s ease-in-out, padding 1s ease-in-out, $mainTransition;

    &.wizard {
        margin: 10px 12px 5px 12px;
    }

    &.lobby {
        @include calc(width, '100% - 16px');
        display: inline-block;
        min-height: 158px;
        vertical-align: top;
    }

    &.lobby-onboarding {
        box-sizing: border-box;
        margin: 0 auto;
        min-height: 160px;

        .row {
            margin-bottom: 20px !important;
        }
    }

    &.info-onboarding {
        box-shadow: none;
        font-family: $fontLatoMedium;
        background: transparent;
        text-align: center;
        white-space: normal;
        &.wizard {
            margin: 0;
            padding: 15px 20px 5px;
            .info {
                height: auto;
            }
            .info-title {
                margin-bottom: 5px;
            }
            .swipe {
                display: none;
            }
        }
        .info {
            @include font-size(xxl-small);
            height: 117px;
            line-height: 1rem;
        }
        .info-title {
            @include font-size(xl-small);
            font-family: $fontMontserratBlack;
            line-height: 1rem;
            margin-bottom: 15px;
        }
        .swipe {
            @include absolute($bottom: 0, $right: 0, $left: 0);
            @include flex-container(row, center, center);
            .left-arrow {
                background: $white;
                height: 1px;
                position: relative;
                margin-right: 7px;
                width: 16px;
                &:before,
                &:after {
                    background: $white;
                    content: '';
                    height: 1px;
                    position: absolute;
                    width: 7px;
                }
                &:after {
                    left: -1px;
                    transform: rotate(-45deg);
                    top: -2px;
                }
                &:before {
                    left:-1px;
                    transform: rotate(45deg);
                    top: 2px;
                }
            }
        }
    }



    .Money {
        color: $typo-color-first;
    }

    .badge {
        @include flex-container(row, center, center);
        @include font-size(x-medium);
        background: $overall-color-action;
        box-sizing: border-box;
        font-weight: bold;
        height: 30px;
        left: 0;
        padding: 5px 10px;
        position: absolute;
        top: 12px;
        z-index: 3;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 0 15px 10px;
            border-color: transparent transparent transparent $overall-color-action;
        }
    }

    .winners-row {
        margin-bottom: 10px;
        text-transform: uppercase;
        @include flex-container(row, flex-end, center);
    }

    .params-row {
        @include flex-container(row, flex-end, flex-start);
        margin-top: 19px;

        .params-column {
            @include flex-container(column, flex-end, flex-end);
            margin: 5px;
            &:last-child {
                margin-right: 0;
            }
        }
        .params-free {
            @include font-size(small);
            background: $text-color-light;
            border-radius: 50%;
            box-sizing: border-box;
            color: $white;
            font-family: $fontLatoBlack;
            height: 45px;
            padding: 14px 5px 5px;
            text-transform: uppercase;
            text-align: center;
            white-space: pre-line;
            width: 45px;
            &.selected {
                background: transparent;
                border: 2px solid $black;
                color: $black;
                opacity: .3;
                padding: 12px 5px 5px;
            }
        }
    }


    &.noprizebg .params-row {
        @include flex-container(row, space-between, flex-start);
    }


    .selected-text {
        @include font-size(medium);
        font-weight: 600;
        background: $malachite;
        border-radius: 20px;
        color: $white;
        text-transform: uppercase;
        left: 30%;
        opacity: 0;
        padding: 8px;
        position: absolute;
        right: 30%;
        text-align: center;
        top: 13px;
    }

    .entries {
        @include flex-container(row, space-between, center);
        &.with-prizes {
            @include flex-container(row, flex-end, center);
            margin-top: 5px;

            .label {
                margin-bottom: 0;
            }
            .circle {
                margin-left: 10px;
            }
        }
    }

    .circle {
        @include flex-container(row, center, center);
        @include font-size(xl-small);
        background: rgba($bg-main-color-primary, .1);
        border-radius: 20rem;
        font-family: $fontLatoBlack;
        width: 2.5rem;
        height: 2.5rem;
    }
    .circle-slash {
        color: $text-color-dark;
    }
    .room-entries {
        color: $text-color-light;
    }

    .room-maxEntries {
        color: $text-color-dark;
    }

    .checkbox {
        width: 45px;
        height: 45px;
        background: url(../../images/icons/circle-checkbox.png) center no-repeat;
        background-size: 45px 45px;

        &.checked {
            background-image: url(../../images/icons/circle-checkbox-checked.png);
        }
    }

    .label {
        @include font-size(small);
        color: $text-color-light;
        font-family: $fontLatoMedium;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .winners {
        @include font-size(xl-medium);
        font-family: $fontLatoBlack;
        color: $text-color-dark;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    .row {
        @include flex-container(row, space-between, center);
        &:first-child {
            margin-bottom: 25px;
            max-height: 100px;
        }
        .icon-selected {
            max-height: 0;
            width: 0;
        }
    }

    .column {
        @include flex-container(column, flex-start, flex-end);
        height: 30px;
    }

    .prize {
        @include font-size(x-medium);
        color: $color-prize-roomgroup;
        font-family: $fontLatoBlack;
    }

    .value {
        @include font-size(x-medium);
        color: $color-value-roomgroup;
        font-family: $fontLatoBlack;
        :before {
            @include font-size(x-medium);
        }
    }
    .date-value {
        @include font-size(x-medium);
        color: $text-color-dark;
        font-family: $fontLatoMedium;
        padding-top: 2px;
    }

    .icon {
        display: inline-block;
        margin: 0 2px;
        &.featured {
            background: url-images('room/featured-icon.png') no-repeat center/cover;
            height: 13px;
            width: 15px;
        }
        &.beginner {
            background: url-images('room/beginner-icon.png') no-repeat center/cover;
            height: 14px;
            width: 16px;
        }
    }

    .full {
        font-size: 0.6rem;
        color: $overall-color-action;
        font-weight: 600;
    }


    &.selected {
        background: rgba($black, .23);
        box-shadow: none;
        box-sizing: initial;
        max-height: 71px;
        padding: 15px;

        .selected-text {
            transition: all 0.3s ease-in-out;
            transition-delay: 1.2s;
        }

        .label {
            @include font-size(xl-small);
            color: rgba($text-color-white, .5);
        }
        .date-value     {
            color: rgba($text-color-white, .7);
        }
        .selected-text {
            animation: showSelectedText 1.6s ease-in 0s 1;
        }
        .row:first-child {
            max-height: 0;
            line-height: 0;
            overflow: hidden;
            margin: 0;
        }
        .params-row {
            @include flex-container(row, space-between, flex-start);
            margin-top: 0;
        }


        .circle {
            background: rgba($bg-main-color-secondary, .3);
            margin-left: 15px;
        }
        .circle-slash {
            color: rgba($text-color-white, .6);
        }
        .room-entries {
            color: $typo-color-first;
        }
        .room-maxEntries {
            color: rgba($text-color-white, .6);
        }
    }
}
