@import "../../scss/variables";

$avatar-border-width: 3px;
$avatar-size: 38px;

.Avatar {
    $total-height: $avatar-size + $avatar-border-width * 2;

    border-radius: $avatar-size;
    border: $avatar-border-width solid lighten($blackRussian, 30%);
    background: $blackRussian;
    color: lighten($blackRussian, 60%);
    font-family: $fontLatoBlack;
    font-size: #{$total-height / 2};
    height: $avatar-size;
    text-align: center;
    width: $avatar-size;
    overflow: hidden;

    &-Label {
        line-height: $avatar-size;
    }
}
