@import '../../scss/variables';
@import '../../scss/mixins';


/** Default variables **/
$bg-main-room:               url('../../images/room/main-room-bg.jpg') center/100% 100% no-repeat !default;
$bg-game-status-room:        $midnightExpress !default;
$color-table-head-room:      $silver !default;
$color-table-lable-room:     #7f7f7f !default;
$color-table-prize-room:     $apple !default;
$color-prize-overview:       $text-color-light !default;
$color-icon-text-room:       $lightGrey !default;
$color-live-status-room:     $persianRed !default;
$color-finished-status-room: $typo-color-third;
/** Default variables END **/


// mixin for entries list
@for $i from 1 through 7 {
    $left: 22 * ($i - 1);
    .photo-#{$i} {
        z-index: $i;
        left: $left*1px;
    }
}

.competition {
    position: relative;

    .game-card {
        margin: 0 10px 5px 10px;

        .team-lineup-wrapper {
            @include flex-container(row, center, space-around);
            background: #7982a3;
            height: 75px;
            border-bottom: 1px solid rgba(white, .2);
            border-radius: 0 0 3px 3px;

            .team-lineup {
                @include flex-container(row, center, flex-start);
                flex-wrap: wrap;
                height: 75px;
                margin-left: -4px;
                max-width: 300px;
                &__caption {
                    @include ellipsis();
                    @include font-size(extra-small);
                    background: rgba(white, .9);
                    border-radius: 10px;
                    box-sizing: border-box;
                    bottom: -3px;
                    color: $text-color-dark;
                    font-family: $fontLatoMedium;
                    height: 15px;
                    left: 1%;
                    letter-spacing: -.2px;
                    line-height: 11px;
                    padding: 2px 5px 0 5px;
                    position: absolute;
                    right: 1%;
                    text-align: center;
                    text-transform: uppercase;
                    width: 46px;
                    z-index: 2;
                }
                &__item {
                    position: relative;
                    height: 40px;
                    top: -7px;
                    width: 48px;
                    margin: 0 5px 0 0;
                    &:nth-child(n+6) {
                        top: -11px;
                        z-index: 3;
                    }

                    img {
                        bottom: 12px;
                        height: 35px;
                        z-index: 2;
                        &.ghost {
                            opacity: .7;
                        }
                    }

                    &__points {
                        @include font-size(extra-small);
                        @include flex-container(row, center, center);
                        background: rgba(white, .9);
                        border-radius: 50%;
                        color: $text-color-dark;
                        font-family: $fontLatoBlack;
                        height: 22px;
                        left: 13px;
                        line-height: 3px;
                        position: absolute;
                        top: 4px;
                        width: 22px;
                        z-index: 2;
                    }
                }
            }
        }


        .lineup {
            &.my-winner .photo:after {
                background: url-images('room/crown.png') center/cover no-repeat;
                content: '';
                display: block;
                height: 7px;
                position: absolute;
                right: 13px;
                top: -6px;
                width: 13px;
            }
            &.winner .photo:after {
                background: url-images('room/crown.png') center/cover no-repeat;
                content: '';
                display: block;
                height: 7px;
                position: absolute;
                right: 13px;
                top: -6px;
                width: 13px;
            }
            &.finished {
                .info .player .number,
                .data .data-num.points {
                    color: $typo-color-third;
                }
                .team-lineup-wrapper {
                    background-color: $typo-color-third;
                }
            }
            &.live {
                .info .player .number,
                .data .data-num.points {
                    color: $overall-color-action;
                }
                .team-lineup-wrapper {
                    background-color: $overall-color-action;
                }
            }
        }

        a {
            text-decoration: none;
        }
        .data {
            text-align: right;
            font-family: $fontLatoBlack;
        }
        .data-title {
            @include font-size(small);
            color: $text-color-light;
            margin-bottom: 7px;
            text-transform: uppercase;
        }
        .data-num {
            @include font-size(xl-medium);
            color: $text-color-dark;

            &.prize {
                color: $typo-color-second;
            }

            &.green {
                color: $typo-color-third;
            }
            &.red {
                color: $overall-color-action;
            }
            &.counter {
                @include font-size(xl-medium);
                color: $typo-color-first;
                text-transform: uppercase;
            }
            &.time {
                @include font-size(xl-small);
                color: $text-color-light;
            }
            &.entries-small {
                @include font-size(small);
                span:first-child {
                    color: $text-color-light;
                }
                span:last-child {
                    color: $text-color-dark;
                }
            }
            &.entry-fee-small, &.prize-poll-small {
                @include font-size(xxl-small);
                color: $text-color-dark;
            }
            &.big {
                @include font-size(xl-medium);
                color: $text-color-dark;
                span:first-child {
                    color: $text-color-light;
                }
            }
        }
        .icon {
            display: inline-block;
            &.red-ball {
                background: url-images('games/red-ball.png') center/cover no-repeat;
                height: 30px;
                margin: 0 20px 0 0;
                width: 30px;
            }
            &.finished {
                background: url-images('games/finished-status.png') center/cover no-repeat;
                height: 30px;
                width: 30px;
            }
            &.live {
                background: url-images('games/live-status.png') center/cover no-repeat;
                height: 30px;
                width: 30px;
            }
        }
        .game {
            @include flex-container(row, flex-start, center);
            background-color: rgba($white, .2);
            border-bottom: 1px solid rgba($white, .2);
            box-sizing: border-box;
            border-radius: 3px 3px 0 0;
            height: 70px;
            padding: 10px 15px;

            .player {
                @include font-size(xxl-small);
                color: $text-color-light;
                font-family: $fontLatoBlack;
                margin-right: 12px;
                text-align: right;
                text-transform: uppercase;
                white-space: nowrap;

                .number {
                    color: $text-color-dark;
                }
                .index {
                    color: $white;
                }
            }
            &.create-link {
                .player {
                    width: 20px;
                    text-align: left;
                }
                .caption {
                    @include calc(width, '100% - 40px');
                    @include font-size(xxl-small);

                    color: $white;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
            .info {
                @include flex-container(row, flex-start, center);
                width: 65%;
            }
            .photo {
                height: 40px;
                margin: 0 10px 0 0;
                position: relative;
                text-align: center;
                width: 40px;
                img {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                }
            }
            .name {
                @include font-size(small);
                color: $text-color-dark;
                font-family: $fontLatoBlack;
                text-align: left;
                text-transform: uppercase;
            }
            &.filled {
                @include flex-container(row, space-between, center);
                background-color: $white;
                .index {
                    color: $toryBlue;
                }

            }
        }

        .lineup {
            &.closed {
                .game {
                    border-radius: 3px;
                }
                .team-lineup-wrapper {
                    display: none;
                }
            }
        }

        .game-info {
            @include flex-container(row, space-between, center);
            background-color: $white;
            box-sizing: border-box;
            height: 60px;
            padding: 15px 20px;
            .left {
                @include flex-container(row, flex-start, center);
                width: 55%;
            }
            .right {
                @include flex-container(row, space-between, center);
                width: 30%;
            }
            .title {
                color: $zambezi;
                font-family: $fontLatoBlack;
                @include font-size(xl-medium);
                @include font-size(xl-medium);
                margin-bottom: 4px;
                text-transform: uppercase;
            }
            .subtitle {
                color: $silver;
                font-family: $fontLatoMedium;
                @include font-size(xxl-small);
                @include font-size(xxl-small);
            }
        }
        .prizes {
            @include flex-container(row, space-between, center);
            background-color: $white;
            box-sizing: border-box;
            height: 60px;
            padding: 15px 20px;
            .data {
                @include flex-container(column, space-between, flex-end);
                height: 31px;
            }
            .left {
                @include flex-container(row, space-between, flex-start);
                width: 64%;
            }
        }
    }


    .status-bg {
        background: $bg-main-room;
        height: 265px;
        padding: $basePadding;

    }

    .controls {
        @include flex-container(row, space-between, center);
        box-sizing: border-box;
        height: 60px;
        left: 0;
        margin: 0 20px;
        position: fixed;
        right: 0;
        top: 60px;
        z-index: 11;
        .status-icon {
            display: block;
            height: 36px;
            width: 36px;
            &.live {
                background: url-images('room/live-status.png') center/cover no-repeat;
            }
            &.finished {
                background: url-images('room/finished-status.png') center/cover no-repeat;
            }
        }
    }

    //Timer and status block sticky
    .game-status-wrap {
        margin: 15px 0 0 0;
    }
    .game-status-sticky {
        background-color: $bg-game-status-room;
        box-shadow: $header-box-shadow;
        box-sizing: border-box;
        height: 55px;
        padding-top: 15px;
        z-index: 10;

        .day-status {
            color: $text-color-light;
            margin-top: 6px;

            &__text {
                @include font-size(small);
                display: block;
                margin: 0 auto;
                text-transform: uppercase;
                min-width: 94px;
                width: 30%;
            }
        }

        .before-status {
            @include flex-container(column, center, center);
            color: $text-color-light;

            &__text {
                @include font-size(small);
                text-transform: uppercase;
                margin: 3px 0 5px 0;
            }
        }

        .live-status {
            @include flex-container(column, center, center);
            color: $text-color-light;
            text-transform: uppercase;

            &__text {
                @include font-size(small);
                margin: 8px 0 0 0;
            }
        }

        .finished-status {
            @include flex-container(column, center, center);
            text-transform: uppercase;

            &__badge {
                margin: 0;
            }

            &__text {
                @include font-size(small);
                margin: 8px 0 0 0;
            }
        }
    }

    .day-status {
        @include font-size(x-medium);
        font-weight: 600;
        color: rgba($white, .6);
    }
    .timer {
        font-family: $fontLatoBlack;
        .countdown {
            @include font-size(xl-medium);
            border: 2px solid $typo-color-fourth;
            border-radius: 5px;
            box-sizing: border-box;
            color: $typo-color-fourth;
            padding: 1px 0 0;
            margin: 0 auto;
            width: 100px;
        }
        &.big {
            .countdown {
                @include font-size(x-big);
                border: none;
                width: auto;
            }
        }
    }
    .counter {
        margin: 0 0 20px;
        p:first-child {
            @include font-size(small);
            font-family: $fontLatoBlack;
            margin: 0 0 6px;
            text-transform: uppercase;
        }
    }
    .top {
        @include font-size(x-medium);
        margin: 5px 0 0;
        text-align: center;
    }
    .room-play-btn-wrap {
        height: 49px;
    }
    .room-type-title {
        @include font-size(x-big);
        color: $white;
        font-family: $fontMontserratBlack;
        margin: 0 0 10px;
        text-align: center;
    }
    .room-type-subtitle {
        @include font-size(xxl-small);
        color: $text-color-light;
        font-family: $fontLatoMedium;
        text-align: center;
    }
    .img-league {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .room-entry-fee {
        @include flex-container(row, center, center);
        @include font-size(xxl-small);
        color: $text-color-light;
        font-family: $fontLatoMedium;
        margin: 20px 0 25px;
        .money-wrap {
            background: #2c334f;
            border-radius: 13px;
            margin-left: 8px;
            padding: 9px;
        }
    }
    > .entries {
        @include flex-container(row, space-between, center);
        font-family: $fontLatoBlack;
        padding: $basePadding;
        .entries-full {
            color: $red;
            text-transform: uppercase;
        }
        .entries-count {
            @include font-size(x-medium);
            span:first-child {
                color: $white;
            }
            span:last-child {
                color: $slateGrey;
            }
        }
        .entries-title {
            @include font-size(small);
            color: $slateGrey;
        }
        .entries-list {
            width: 170px;
            &.flex {
                @include flex-container(row, center, center);
                .player-photo {
                    position: relative;
                    margin: 0 3px;
                }
            }
            .entries-list-wrap {
                height: 40px;
                position: relative;
                margin: 0 auto;
            }
            .player-photo {
                border-radius: 50%;
                border: 2px solid $white;
                height: 37px;
                margin: 0;
                overflow: hidden;
                position: absolute;
                width: 37px;
                &.empty {
                    background-color: $slateGrey;
                }
                &.last {
                    span {
                        @include font-size(xxl-small);
                        color: $white;
                        font-family: $fontLatoBlack;
                        left:  10px;
                        position: absolute;
                        top: 10px;
                    }
                    img {
                        opacity: .4;
                    }
                }
                img {
                    display: block;
                    height: 100%;
                    margin: 0 auto;
                    width:  100%;
                }
            }
        }
    }
    .room-info {
        @include flex-container(row, space-between, center);
        margin: 35px 0 40px;
        padding: $basePadding;
        hr {
            background-color: $paleCornflowerBlue;
            border: none;
            height: 1px;
            width: 30px;
        }
        div {
            font-family: $fontLatoBlack;
            text-align: center;
            text-transform: uppercase;
            p:first-child {
                @include font-size(x-big);
                margin-bottom: 10px;
            }
            span {
                color: $lightGrey;
                display: inline-block;
                vertical-align: middle;
            }
            .icon-text {
                @include font-size(xxl-small);
                color: $color-icon-text-room;
            }
            .icon {
                display: inline-block;
                height: 20px;
                margin-right: 5px;
                vertical-align: middle;
                width: 20px;
                &.player {
                    background: url-images('room/player-icon.png') center/cover no-repeat;
                    height: 20px;
                    width: 14px;
                }
                &.winner {
                    background: url-images('room/winner-icon.png') center/cover no-repeat;
                    width: 20px;
                }
                &.soon {
                    background: url-images('room/soon-icon.png') center/cover no-repeat;
                    width: 13px;
                }
                &.live {
                    background: url-images('room/live-icon.png') center/cover no-repeat;
                    height: 15px;
                    width: 24px;
                }
                &.finished {
                    background: url-images('room/finished-icon.png') center/cover no-repeat;
                    width: 18px;
                }
            }
        }
    }
    .room-table-toggler {
        @include flex-container(row, center, center);
        margin: 25px 0 45px;
    }
    .table {
        background-color: $white;
        border-radius: 3px;
        font-family: $fontLatoBlack;
        margin: 0 auto;
        width: 90%;
        .prize-title {
            @include font-size(xxl-small);
            color: $color-table-head-room;
            padding: 14px 0 25px;
            text-align: center;
        }
        .row {
            @include flex-container(row, space-between, center);
            background-color: $white;
            border-radius: 3px;
            padding: 0 55px 25px;

            &__label {
                @include font-size(xxl-small);
                color: $color-table-lable-room;
            }

            &__value {
                @include font-size(xl-medium);
                color: $color-table-prize-room;
            }
        }
    }
    .room-prize-overview {
        @include flex-container(row, center, center);
        margin: 25px auto 15px;
        max-width: 230px;
        .cell {
            .cell-inner {
                display: inline-block;
                text-align: right;
            }
            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ .cell{
                width: 25%;
            }
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ .cell{
                width: 33%;
            }
            text-align: center;
            .Money {
                font-size: 1.25rem;
            }
            .prize-text {
                @include font-size(xxl-small);
                color: $color-prize-overview;
            }
        }
    }
    .information {
        text-align: center;
        h2 {
            @include font-size(big);
            font-family: $fontMontserratBlack;
            margin-bottom: 9px;
        }

        .table-wrapper {
            display: none;

            &.open {
                display: block;
            }
        }

        h3 {
            @include font-size(xxl-small);
            color: $red;
            font-family: $fontLatoBlack;
            margin-bottom: 20px;
        }
        .text-head {
            @include font-size(xl-small);
            font-family: $fontLatoMedium;
            margin-bottom: 20px;
            padding: $basePadding;
        }
        .text-winner {
            @include font-size(x-medium);
            color: $poloBlue;
            font-family: $fontLatoMedium;
            padding: $basePadding;
        }
        .game-desc {
            @include font-size(xxl-small);
            color: $waikawaGrey;
            font-family: $fontLatoMedium;
            padding: 15px 20px;
        }
        .Btn {
            display: block;
            margin: 15px auto;
        }
    }
    .games {
        text-align: center;
        .Btn {
            margin-bottom: 18px;
            width: 40px;
        }
    }

    .before-status {
        @include flex-container(row, center, center);
        color: rgba($white, .6);
        font-weight: 600;

        &__text {
            margin: 0 0 0 5px;
        }
    }

    .live-status {
        @include flex-container(row, center, center);
        color: rgba($white, .6);
        font-weight: 600;

        &__badge {
            color: $color-live-status-room;
            text-transform: uppercase;
            margin: 0 5px 0 0;
        }
    }

    .finished-status {
        @include flex-container(column, flex-start, center);
        color: rgba($white, .6);
        font-weight: 600;
        margin-bottom: 10px;

        &__badge {
            color: $color-finished-status-room;
            margin: 0 0 10px 0;
            text-transform: uppercase;
        }
    }

    .powered-by {
        @include flex-container(row, center, center);
        margin: 65px 0 29px;
    }
}

