@import '../../scss/variables';
@import '../../scss/mixins';

.Btn {
    background-color: transparent;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    color: $white;
    display: inline-block;
    font-family: $fontLatoBlack;
    font-weight: normal;
    letter-spacing: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;

    &:focus,
    &:active {
        outline: none;
    }

    &.disabled {
        background-color: $btnDisabled !important;
        color: $stormGrey !important;
        pointer-events: none;
        touch-action: none;
    }

    .double-row {
        @include flex-container(column, space-between, center);
    }

//  TYPE
    &.primary {
        background-color: $btnPrimary;
        box-shadow: 0 1px 1px 0 rgba(55, 2, 2, 0.25);
    }

    &.payment {
        background-color: $btnPayment;
    }

    &.warning {
        background-color: $btnWarning;
    }

    &.default {
        background-color: $btnDefault;
    }

    &.confirm {
        background-color: $btnConfirm;
        color: $havelockBlue;
    }

    &.white {
        background-color: $white;
    }

    &.transparent {
        @include font-size(x-small);
        background-color: transparent;
        padding: 10px 6px 9px !important;
    }

//  MODIFICATIONS
    &.round {
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 rgba(55, 2, 2, 0.25);
        height: 40px;
        min-width: 40px !important;
        padding: 0;
        width: 40px;

        &.normal,
        &.small {
            padding: 0 ;
        }

        &.small {
            height: 30px;
            width: 30px;
        }
    }

    &.square {
        height: 30px;
        padding: 0 !important;
        min-width: 30px !important;
        width: 30px;
    }

    &.block {
        width: 100%;
    }

    &.noPad {
        @include flex-container(column, center, stretch);
        padding: 0 !important;

        & > * {
            flex-grow: 20;
        }
    }

    &.toggle-arrow-label {
        @include flex-container(column-reverse, center, center);
        @include font-size(xxl-small, $important: true);
        color: $text-color-light;
        min-width: 65px !important;
        padding: 5px 11px !important;
        .icon {
            margin: 3px auto 0;
        }
    }

//  SIZE
    &.monster {
        @include font-size(xl-medium);
        padding: 17px 25px;
        min-width: 100px;
    }

    &.large {
        @include font-size(xxl-small);
        padding: 14px 16px;
        min-width: 74px;
    }

    &.normal {
        @include font-size(xl-small);
        padding: 10px 11px 9px;
        min-width: 56px;
    }

    &.small {
        @include font-size(extra-small);
        padding: 7px 10px;
    }
}

.BtnGroup {
    @include flex-container(row, flex-start, stretch);
    width: 100%;

    &.BtnGroup-mod-double > * {
        white-space: nowrap;
        width: 50%;
    }

    &.BtnGroup-mod-vertical {
        @include flex-container(column, flex-start, stretch);
    }

    &.BtnGroup-mod-space-between {
        @include flex-container(row, space-between, center);
        .Btn {
            flex-grow: 0;
            width: 32%;
        }
    }

    & > * {
        flex-grow: 10;
    }
}
