@import '../../scss/variables';
@import '../../scss/mixins';

.notification-wrapper {
    background: $bg-main-color-primary;
    box-shadow: 0 10px 15px -7px $bg-main-color-primary;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 64px;
    transform: translate3d(0, 0, 1px);
    right: 0;
    z-index: 100;
    width: 100vw;
}
.notification {
    @include flex-container(column, flex-start, stretch);
    @include calc(height, '100vh - 64px');

    &.closed {
        .head, .list {
            flex-grow: inherit;
        }
        .list {
            padding: 0;
        }
    }

    .head {
        @include flex-container(row, space-between, center);
        background-color: $bg-main-color-primary;
        box-sizing: border-box;
        flex-grow: 1;
        min-height: 50px;
        padding: 15px 20px;
        p {
            @include font-size(xxl-small);
            color: $text-color-white;
            font-family: $fontLatoBlack;
            text-transform: uppercase;
        }
    }
    .icon-cross {
        background: url-images('icons/white-cross.png') center/contain no-repeat;
        display: block;
        height: 12px;
        width: 12px;
    }
    .list {
        flex-grow: 10;
        list-style-type: none;
        margin: 0;
        overflow-y: scroll;
        padding: 0;
    }
    .item {
        background-color: #e1e1e1;
        box-sizing: border-box;
        border-bottom: 1px solid $grey;
        font-family: $fontLatoBlack;
        min-height: 90px;
        padding: 12px 20px 12px 30px;

        .item-bottom-offset {
            height: 78px;
        }
        .item-date {
            @include font-size(xl-small);
            color: #999;
            margin-bottom: 6px;
            text-align: right;
        }
        .item-title {
            @include font-size(xxl-small);
            color: #7c7d80;
            font-family: $fontLatoBlack;
            margin-bottom: 5px;
            position: relative;
        }
        .item-text {
            @include font-size(xxl-small);
            line-height: 140%;
            color: #999;
            font-family: $fontLatoMedium;
        }

        .Money {
            font-family: $fontLatoBlack;
            color: $text-color-dark;
            white-space: nowrap;
        }

        &.unread {
            background-color: white;

            .item-title {
                color: $text-color-dark;

                &:before {
                    background-color: $overall-color-action;
                    border-radius: 50%;
                    content: '';
                    display: block;
                    height: 6px;
                    left: -15px;
                    position: absolute;
                    top: 3px;
                    width: 6px;
                }
            }
            .item-text {
                color: $text-color-dark;
            }
            .item-date {
                color: $text-color-light;
            }
        }
    }
}
