@import "../../scss/variables";
@import "../../scss/mixins";

.page {
    &.leagues {
        background: $bg-main-color-secondary;
        background-image: url('../../images/games/field-background.jpg');
        background-position: 0 100%;
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        font-family: $fontLatoMedium;
        overflow: auto;
        padding: 0 0 110px 0;
        margin: 0;

        .league-type {
            @include flex-container(column, center, center);
            box-sizing: border-box;
            min-height: 192px;
            text-align: center;
            margin: 5px;
            border-radius: 5px;

            &.epl-bg {
                background: $bg-main-color-primary url("../../images/select/epl-bg.png") no-repeat  0 -35px/55% auto;
            }
            &.csl-bg {
                background: $bg-main-color-primary url("../../images/select/csl-bg.png") no-repeat left/80% auto;
            }
            &.k-league-bg {
                background: $bg-main-color-primary url("../../images/select/k-league-bg.png") no-repeat left/contain;
            }
            &.bundesliga-bg {
                background: $bg-main-color-primary url("../../images/select/bundesleague-bg.png") no-repeat left/contain;
            }
            &.laliga-bg {
                background: $bg-main-color-primary url("../../images/select/laliga-bg.png") no-repeat 0 -5px/150px auto;
            }
            &.uefa-cl-bg {
                background: $bg-main-color-primary url("../../images/select/uefa-cl-bg.png") no-repeat 0 -15px/160px auto;
            }
            &.uefa-el-bg {
                background: $bg-main-color-primary url("../../images/select/uefa-el-bg.png") no-repeat 0 -10px/150px auto;
            }

            .head {
                margin: 20px 0;
            }
            .title {
                @include font-size(big);
                font-family: $fontMontserratBlack;
                letter-spacing: 1px;
                margin: 0 0 10px 0;
                span {
                    position: relative;
                }
            }
            .subtitle {
                @include font-size(xxl-small);
            }
            .flag {
                @include absolute($top: 4px, $right: -30px);
                display: inline-block;
                height: 14px;
                width: 23px;
                &.epl {
                    background: url('../../images/select/epl-flag-icon.jpg') no-repeat center/cover;
                }
                &.csl {
                    background: url('../../images/select/csl-flag-icon.jpg') no-repeat center/cover;
                }
                &.k-league {
                    background: url('../../images/select/k-league-flag-icon.jpg') no-repeat center/cover;
                }
                &.bundesliga {
                    background: url('../../images/select/bundesliga-flag-icon.jpg') no-repeat center/cover;
                }
                &.laliga {
                    background: url('../../images/select/laliga-flag-icon.jpg') no-repeat center/cover;
                }
                &.uefa-cl, &.uefa-el {
                    background: url('../../images/select/uefa-flag-icon.jpg') no-repeat center/cover;
                }
            }
            .time-status {
                margin-bottom: 15px;
            }
            .btn-select {
                margin: 0 auto;
                width: 155px;
            }
            .status-soon {
                @include font-size(xxl-small);
                color: $havelockBlue;
                text-transform: uppercase;
            }
        }
        .match-timer {
            color: $white;
            max-width: 200px;

            h4 {
                @include font-size(small);
                opacity: .6;
                margin: 0 0 8px 0;
            }
            .clock {
                @include font-size(xs-big);
                @include flex-container();
                font-family: $fontLatoBlack;
                margin: 0 auto;
                width: 140px;
            }
            sub {
                @include font-size(small);
                bottom: auto;
                font-family: $fontLatoMedium;
                padding-left: 3px;
                opacity: .8;
                text-transform: uppercase;
            }
        }

        .powered-by {
            @include flex-container(row, center, center);
            @include absolute($bottom: 29px, $left: 5%, $right: 5%);
        }
    }
}
