@import '../../scss/variables';
@import '../../scss/mixins';

.page.select {

    .select-pane {
        color: $white;
        box-sizing: border-box;
        min-height: 85vh;
        padding: 20px;
        text-align: center;
        &.soccer {
            background: url-images('select/soccer-tab-bg.jpg') center/cover no-repeat;
        }
        &.football {
            background: url-images('select/football-tab-bg.jpg') center/cover no-repeat;
        }
        &.basketball {
            background: url-images('select/basketball-tab-bg.jpg') center/cover no-repeat;
        }

        .info-text {
            font-family: $fontLatoBlack;
            font-size: 1.250rem;
            line-height: 1.688rem;
            letter-spacing: .5px;
            margin: 0 0 40px;
            &:first-child {
                margin: 50px 0 40px;
                text-transform: uppercase;
            }

            i {
                font-style: normal;
                text-transform: uppercase;
            }
        }
        .game-title {
            color: rgba($white, 0.78);
            @include font-size(xl-medium);
            font-family: $fontMontserratBlack;
            line-height: 0.937rem;
            margin: 15px 0 14px;
            text-transform: uppercase;
        }
        .date {
            font-family: $fontLatoMedium;
            @include font-size(xxl-small);
        }
        .round {
            font-family: $fontMontserratBlack;
            font-size: 1.250rem;
            line-height: 1.250rem;
            margin: 12px 0 25px;
            text-transform: uppercase;
        }
        .counter-title {
            color: rgba($white, .4);
            font-family: $fontLatoBlack;
            @include font-size(xxl-small);
            text-transform: uppercase;
        }
        .counter {
            @include flex-container(row, space-between, center);
            margin: 15px auto;
            width: 80%;
            div {
                text-align: center;
                p:first-child {
                    @include font-size(x-big);
                    margin-bottom: 8px;
                }
                p:last-child {
                    color: rgba($white, .5);
                    @include font-size(x-small);
                }
            }
        }
    }
}
