@import '../../scss/mixins';

.page.registration {
    overflow: hidden;

    .header {
        text-align: center;
        margin-bottom: 30px;
        width: 100vw;

        .logo {
            background: url('../../images/logos/GFS-white.png') center no-repeat;
            background-size: contain;
            height: 50px;
            margin: 30px auto;
            width: 50vw;
        }
    }

    .checkboxLabel {
        font-size: 12px;
        margin-top: -5px;
        max-width: 70vw;
    }

    .substrate {
        background: url('../../images/popup-bg.jpg') center no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        min-height: 80vh;
        width: 100vw;


        .buttons-block {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            width: 100%;
        }

        .form-block {
            color: black;
            padding: 20px 0;
            text-align: center;
        }

        a.sublink {
            font-size: 12px;
            color: #000;
            text-align: center;
        }
    }


    .selector-group {
        @include clearfix();
        width: 100%;

        > .input {
            display: inline-block;
            width: 48%;

            &:nth-child(2) {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }


    }
}
