@import '../../scss/mixins';

.page.page-404 {
    .splash {
        background: url('../../images/splashes/404_background-main.jpg') no-repeat;
        background-size: 100% 100%;
        font-family: $fontLatoMedium;
        height: 100vh;
        text-align: center;
        width: 100vw;
        h1 {
            font-size: 56px;
            margin: 0;
            padding: 150px 0 20px;
        }
        p {
            font-size: 14px;
        }
        .Btn {
            margin: 40px 0 0;
        }

        @include mquery("iphone5-landscape") {
            background: url('../../images/splashes/nfl-horizontal.jpg') no-repeat;
            background-size: 100% 100%;
        }
    }
}
