@import "../../scss/variables";
@import "../../scss/mixins";

.Countdown {
    @include flex-container();
    font-family: $fontLatoMedium;
    letter-spacing: 2px;
    font-size: 30px;
}

.CountdownItem {
    &_value {
        text-align: center;
    }
    &_label {
        font-size: .6em;
        text-transform: uppercase;
    }
}
