@import '../../scss/variables';
@import '../../scss/mixins';

.tabs {
    width: 100%;

    .tab-header {
        @include flex-container(row, flex-start, strech);
        height: 85px;
        width: 100%;

        .tab-header-item {
            cursor: pointer;
            height: 100%;
            position: relative;
            &.soccer {
                background: $whisper url-images('icons/soccer.png') center/35px 35px no-repeat;
            }
            &.football {
                background: $whisper url-images('icons/football.png') center/35px 35px no-repeat;
            }
            &.basketball {
                background: $whisper url-images('icons/basketball.png') center/35px 35px no-repeat;
            }
            &.active-tab {
                &.soccer {
                    background: $persianRed url-images('icons/soccer_active.png') center/35px 35px no-repeat;
                }
                &.football {
                    background: $persianRed url-images('icons/football_active.png') center/35px 35px no-repeat;
                }
                &.basketball {
                    background: $persianRed url-images('icons/basketball_active.png') center/35px 35px no-repeat;
                }
            }
        }
    }

    .tab-body {
        width: 100%;

        .tab-body-item {
            @include calc(min-height, '90vh - 60px');
            display: none;
            height: 100%;
            width: 100%;

            &.active-tab {
                display: block;
            }
        }
    }
}
