@import "../../scss/mixins";

.page {
    min-height: 100vh;
    max-width: 100vw;
    z-index: 1;

    footer ~ & {
        margin-bottom: 50px;
    }


    // dialog animation
    .modal-anim-enter {
        opacity: 0.00;
        transform: scale(0.7);
        transition: all 2s;
    }

    .modal-anim-enter.modal-anim-enter-active {
        opacity: 1;
        transform: scale(1);
    }
    .modal-anim-leave {
        opacity: 1;
        transform: scale(1);
        transition: all 2s;
    }

    .modal-anim-leave.modal-anim-leave-active {
        opacity: 0.00;
        transform: scale(0.7);
    }
}
