@import '../../scss/variables';
@import '../../scss/mixins';

/** Default variables **/
$bg-scorecard-head: rgba(26,38,63, .8) !default;
/** Default variables END **/

.roster {
    @include flex-container(column, flex-start, stretch);
    &.not-started {
        padding-bottom: 0;
    }
    &.with-table {
        padding-bottom: 125px;
    }

    .photo {
        background:$bg-main-color-primary;
        box-sizing: border-box;
        height: 180px;
        position: relative;
        .team-logo {
            bottom: 0;
            height: 100%;
            opacity: .5;
            width: 100%;
        }
        .player-photo {
            bottom: 0;
            display: block;
            margin: 0 auto;
            left: 0;
            position: absolute;
            right: 0;
        }
    }
    .roster-top-wrap {
        box-sizing: border-box;
        height: 60px;
        left: 0;
        padding: 20px 20px 0 20px;
        position: fixed;
        right: 0;
        top: 60px;
        z-index: 3;
    }
    .roster-top-sticky {
        background: $bg-scorecard-head;
        box-sizing: border-box;
        box-shadow: $header-box-shadow;
        padding: 20px;
        z-index: 3;
        .roster-top {
            @include flex-container(row, space-between, center);
        }
    }
    .roster-top {
        position: relative;
        .title {
            @include absolute(0,18%,0,18%);
            @include font-size(big);
            color: $white;
            text-transform: uppercase;
            text-align: center;
            span {
                &:first-child {
                    font-family: $fontLatoMedium;
                }
                &:last-child {
                    font-family: $fontMontserratBlack;
                    font-weight: 900;
                }
            }
        }
        .Btn {
            @include absolute(-6px,none,none,0);
        }
        .points {
            color: $white;
            margin: 0 0 20px;
            text-align: right;
            text-transform: uppercase;
            p {
                &:first-child {
                    @include font-size(small);
                    color: $periwinkle;
                    font-family: $fontLatoBlack;
                    margin: 0 0 5px;
                }
                &:last-child {
                    @include font-size(x-medium);
                    font-family: $fontLatoBlack;
                }
            }
        }
    }
    .player-info {
        background: url-images('roster/player-info-bg.jpg') center/cover no-repeat;
        box-sizing: border-box;
        height: 100px;
        padding: 15px;
        .player-name {
            @include font-size(x-medium);
            @include font-size(x-medium);
            text-transform: uppercase;
            text-align: center;
            span {
                &:first-child {
                    color: $text-color-light;
                    font-family: $fontLatoMedium;
                }
                &:last-child {
                    color: $text-color-dark;
                    font-weight: 900;
                    font-family: $fontLatoBlack;
                }
            }
        }
        .game-info {
            @include flex-container(row, space-between, center);
            @include font-size(x-medium);
            color: $zambezi;
            font-family: $fontLatoBlack;
            margin: 10px 45px 10px;
            i {
                background: url-images('roster/team-logo-small-1.png') center/contain no-repeat;
                display: block;
                height: 45px;
                width: 45px;
            }
            .vs {
                @include font-size(small);
                color: $silver;
            }
        }
        .total {
            @include font-size(xxl-small);
            font-family: $fontLatoBlack;
            text-align: center;
            text-transform: uppercase;
            color: $denim;
        }
    }
    .info-table-row {
        @include flex-container(row, space-between, center);
        background-color: $white;
        height: 40px;
        text-transform: uppercase;
        &.head {
            background-color: #f0f0f0;
        }
        &.highlighted {
            background-color: #e9ecf5;
            .pts {
                color: $text-color-dark;
            }
        }
        &:last-child {
            .activity, .activity .num, .pts {
                color: $text-color-dark;
                font-family: $fontLatoBlack;
            }
        }
        .activity, .pts {
            border: 1px solid $gainsboro;
            box-sizing: border-box;
            height: 40px;
            padding: 5px 15px;
            &.head {
                @include font-size(x-small);
                border: none;
                color: $text-color-dark;
                font-family: $fontLatoBlack;
            }
        }
        .activity {
            @include flex-container(row, space-between, center);
            @include font-size(x-small);
            color: $text-color-dark;
            font-family: $fontLatoMedium;
            width: 69%;
            &.head {
                @include flex-container(row, flex-start, center);
            }
            .num {
                @include font-size(xxl-small);
                color: $text-color-light;
                padding: 0 8px;
            }
        }
        .pts {
            @include flex-container(row, center, center);
            @include font-size(xxl-small);
            color: $text-color-light;
            font-family: $fontLatoBlack;
            text-align: center;
            width: 31%;
            &.highlighted {
                color: $text-color-dark;
            }
        }
    }
    .players-list {
        @include flex-container(row, flex-start, flex-start);
        background: $midnightExpress;
        border-top: 3px solid $bg-main-color-primary;
        bottom: 0;
        flex-wrap: wrap;
        left: 0;
        position: fixed;
        right: 0;
        width: 100%;
        .item {
            background-image: linear-gradient(180deg, #c9c9c9, #f3f3f3);
            box-sizing: border-box;
            height: 60px;
            overflow: hidden;
            position: relative;
            width: 20%;
            min-width: 64px;
            &.active {
                background: url-images('roster/roster-item-active-bg.jpg') no-repeat center/cover;
                border: none;
                .item-overlay {
                    background: none;
                }
                .item-name {
                    background: rgba($overall-color-action, .8);
                    color: $white;
                }
                .item-border {
                    display: block;
                }
                i {
                    background: rgba($overall-color-action, .8);
                    &.points {
                        background: rgba($overall-color-action, .8);
                    }
                }
                img {
                    z-index: 1;
                }
            }
            &.in-progress, &.closed {
                .item-overlay {
                    background: none;
                }
            }
            &.dst {
                width: 40%;
                overflow: hidden;
                img {
                    top: 0;
                }
            }
            &.total {
                background: url-images('roster/roster-item-bg.jpg') no-repeat center/cover;
                color: $text-color-dark;
                font-family: $fontLatoBlack;
                padding: 10px 0 0;
                text-align: center;
                h6 {
                    @include font-size(small);
                    margin-bottom: 5px;
                }
                p {
                    @include font-size(big)
                }
            }

            .item-border {
                border: 5px solid $overall-color-action;
                bottom: 0;
                display: none;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
            }
            img {
                display: block;
                margin: 0 auto;
                position: relative;
                top: 10px;
            }
            .item-overlay {
                @include absolute(0,0,0,0);
                background: rgba($overall-color-basic, .8);
            }
            i {
                @include font-size(xl-small);
                @include absolute($top: 0);
                box-sizing: border-box;
                color: $white;
                display: block;
                font-family: $fontLatoBlack;
                font-style: normal;
                font-weight: normal;
                min-width: 23px;
                padding: 2px 0;
                text-align: center;
                width: 100%;
                z-index: 2;
                &.points {
                    @include absolute(none,0,none,none);
                    background: rgba($overall-color-basic, .8);
                    padding: 4px 4px;
                    width: auto;
                }
            }
            .item-name {
                @include absolute(none,5px,0,5px);
                @include font-size(xxl-small);
                @include ellipsis();
                background: rgba($white, .8);
                border-radius: 8px;
                box-sizing: border-box;
                color: $text-color-dark;
                font-family: $fontLatoMedium;
                height: 16px;
                padding: 2px 1px;
                text-align: center;
                z-index: 2;
            }
        }
    }
    .status-timer {
        @include flex-container(column, center, center);
        background: $white;
        box-sizing: border-box;
        color: #000;
        font-family: $fontLatoBlack;
        height:  65px;
        padding: 10px;
        margin: 5px 0 0;
        text-transform: uppercase;
        .game-status {
            @include font-size(x-medium);
            color: $shuttleGrey;
        }
        .title-timer {
            @include font-size(x-small);
            color: $shuttleGrey;
            margin: 0 0 10px;
        }
        .timer {
            @include font-size(xl-medium);
            color: $creamCan;
        }
    }
}
