@import "../../scss/variables";
@import "../../scss/mixins";

.UI-Select {
    @include flex-container(row, space-between, center, inline-flex);
    @include font-size(x-medium);
    color: $zambezi;
    font-family: $fontLatoBlack;
    font-weight: 600;
    overflow: hidden;
    position: relative;

    &__input {
        @include absolute(0, 0, 0, 0);
        border: none;
        cursor: pointer;
        display: block;
        opacity: 0;
        z-index: 2;
    }

    &__value {
        @include flex-container();
        @include font-size(xl-small);
        @include ellipsis();
        box-sizing: border-box;
        text-transform: uppercase;
        padding: 3px 0 3px 5px;
        z-index: 1;

        &:after {
            color: $mariner;
            content: "⌃";
            display: inline-block;
            height: 8px;
            margin: 0 0 0 5px;
            transform: rotate(180deg);
        }
    }
}
