@import "../../scss/mixins";
@import "../../scss/variables";

.Swipeable {
    background: $whiteSmoke;
    border-bottom: 1px darkgray;
    box-sizing: border-box;
    height: 64px;
    position: relative;
    width: 100vw;

    section {
        @include absolute(0, 0, 0, 0);
        background: inherit;
        box-sizing: border-box;
        color: darkslategrey;
        height: 100%;
        width: 100%;
        will-change: transform;
        z-index: 2;
    }

    .swipe-buttons {
        @include flex-container(row, space-between, stretch);
        height: 100%;
    }
    aside {
        @include absolute(0, 0, 0);
        float: right;
        width: 40vw;
        will-change: opacity;
        z-index: 1;
    }
}
