@import "../../scss/mixins";

.SwipeBar {
    height: 100%;

    &.orientation-vertical {
        @include flex-container(column, stretch, stretch);
    }

    &.orientation-horizontal {
        @include flex-container(row, flex-start, stretch);
    }

    & > * {
        flex-grow: 100;
    }
}
