@import '../../scss/variables';
@import '../../scss/mixins';

.scroll-loader {
    background: $spinner-background;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;

    .spinner {
        @include calc(top, '40% - 35px');
        animation: rotateCircle 1.7s infinite linear;
        height: 70px;
        margin: auto;
        position: relative;
        transform-origin: center center;
        width: 70px;
    }
    .svg-overlay {
        background: linear-gradient(145deg, $spinner-background,
                rgba(23,30,46, 1) 40%,
                rgba(23,30,46, .9) 50%,
                rgba(23,30,46, .8) 60%,
                rgba(23,30,46, .6) 70%,
                rgba(23,30,46, .5) 75%,
                rgba(23,30,46, .3) 80%,
                rgba(23,30,46, .1) 95%,
                transparent 100%);
        height: 100%;
        position: absolute;
        width: 60%;
    }
    .svg-line {
        animation: changeColor 1.5s infinite linear;
    }

    .powered-by {
        position: absolute;
        bottom: 29px;
        width: 100%;
        text-align: center;
    }
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes changeColor {
    0% {
        fill: hsl(200,100%,50%);
    }
    20% {
        fill: hsl(280,100%,50%);
    }
    40% {
        fill: hsl(0,100%,50%);
    }
    60% {
        fill: hsl(45,100%,50%);
    }
    80% {
        fill: hsl(145,100%,50%);
    }
    100% {
        fill: hsl(200,100%,50%);
    }
}
