@import '../../scss/mixins';
@import '../../scss/variables';


/** Default variables **/
$bg-free-roll-roomgroup:       #f8b93f !default;
$bg-free-roll-empty-roomgroup: #ca9939 !default;
$bg-fifty-roomgroup:           #ac1a2f !default;
$bg-fifty-empty-roomgroup:     #7c1322 !default;
$bg-twenty-roomgroup:          #6e0240 !default;
$bg-twenty-empty-roomgroup:    #5e083b !default;
$bg-double-roomgroup:          #37447e !default;
$bg-double-empty-roomgroup:    #323d6c !default;
$bg-head-roomgroup:            #687fc1 !default;
$bg-head-empty-roomgroup:      #596ca2 !default;
$bg-quadruple-roomgroup:       #2bcb8c !default;
$bg-quadruple-empty-roomgroup: #28a977 !default;
$bg-fefteen-roomgroup:         #b0b5c8 !default;
$bg-fefteen-empty-roomgroup:   #858998 !default;
/** Default variables END **/

.competition-room-group-ns {
    background-image: repeating-linear-gradient(
        -50deg, transparent, transparent 20%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.2) 45%
    );
    box-sizing: border-box;
    padding: 10px 0 20px 0;
    width: 100%;

    &.empty {
        padding: 20px 0 20px 0;
    }

    &.lobby {
        white-space: nowrap;
        .competition-rooms {
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }

    &.freeRoll {
        background-color: $bg-free-roll-roomgroup;
        &.empty {
            background: linear-gradient(
                $bg-free-roll-roomgroup,$bg-free-roll-roomgroup 70%,
                $bg-free-roll-empty-roomgroup
            );
        }
    }
    &.fifty {
        background-color: $bg-fifty-roomgroup;
        &.empty {
            background: linear-gradient(
                $bg-fifty-roomgroup,$bg-fifty-roomgroup 70%,
                $bg-fifty-empty-roomgroup
            );
        }
    }
    &.twenty {
        background-color: $bg-twenty-roomgroup;
        &.empty {
            background: linear-gradient(
                $bg-twenty-roomgroup,$bg-twenty-roomgroup 70%,
                $bg-twenty-empty-roomgroup
            );
        }
    }
    &.double {
        background-color: $bg-double-roomgroup;
        &.empty {
            background: linear-gradient(
                $bg-double-roomgroup,$bg-double-roomgroup 70%,
                $bg-double-empty-roomgroup
            );
        }
    }
    &.head {
        background-color: $bg-head-roomgroup;
        &.empty {
            background: linear-gradient(
                $bg-head-roomgroup,$bg-head-roomgroup 70%,
                $bg-head-empty-roomgroup
            );
        }
    }
    &.quadruple {
        background-color: $bg-quadruple-roomgroup;
        &.empty {
            background: linear-gradient(
                $bg-quadruple-roomgroup,$bg-quadruple-roomgroup 70%,
                $bg-quadruple-empty-roomgroup
            );
        }
    }
    &.fifteen {
        background-color: $bg-fefteen-roomgroup;
        &.empty {
            background: linear-gradient(
                $bg-fefteen-roomgroup,$bg-fefteen-roomgroup 70%,
                $bg-fefteen-empty-roomgroup
            );
        }
    }


    .group-header {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    .room-type {
        @include font-size(big);
        font-family: $fontMontserratBlack;

    }
    .room-counter {
        @include font-size(x-small);
        @include absolute($top: 4px, $right: 24px);
        font-family: $fontLatoBlack;
    }
}


