@import '../../scss/variables';
@import '../../scss/mixins';

/** Default variables  **/

$bg-color-footer:          $persianRed !default;
$border-top-footer:        2px solid $black !default;
$height-footer:            55px !default;
$link-color-footer:        $black !default;
$link-active-color-footer: $white !default;
$width-icon-soccer-footer: auto;

// Icons
$icon-games-footer:               url('../../images/footer/icon-games.png') !default;
$icon-games-active-footer:        url('../../images/footer/icon-games_active.png') !default;
$icon-lobby-soccer-footer:        url('../../images/footer/icon-soccer.png') !default;
$icon-lobby-soccer-active-footer: url('../../images/footer/icon-soccer_active.png') !default;
$icon-lobby-nfl-footer:           url('../../images/footer/icon-nfl.png') !default;
$icon-lobby-nfl-active-footer:    url('../../images/footer/icon-nfl_active.png') !default;
$icon-sports-footer:              url('../../images/footer/icon-sports.png') !default;
$icon-sports-active-footer:       url('../../images/footer/icon-sports_active.png') !default;
$icon-lineups-footer:             url('../../images/footer/my-lineups.png') !default;
$icon-lineups-active-footer:      url('../../images/footer/my-lineups_active.png') !default;
$icon-schedule-footer:            url('../../images/footer/icon-schedule.png') !default;
$icon-schedule-active-footer:     url('../../images/footer/icon-schedule_active.png') !default;
$icon-league-epl-footer:          url('../../images/footer/icon-epl.png') !default;
$icon-league-csl-footer:          url('../../images/footer/icon-csl.png') !default;

/** Default variables  END **/



.footer {
    @include flex-container(row, space-between, center);
    display: flex !important;
    background-color: $bg-color-footer;
    bottom: 0;
    border-top: $border-top-footer;
    box-sizing: border-box;
    height: $height-footer;
    position: fixed;
    width: 100%;
    z-index: 9;

    a {
        @include font-size(extra-small);
        color: $link-color-footer;
        font-family: $fontLatoMedium;
        height: 100%;
        margin-top: 15px;
        text-align: center;
        text-decoration: none;
        width: 20%;

        &.active {
            color: $link-active-color-footer;
            .icon {
                &-games {
                    background: $icon-games-active-footer no-repeat center/contain;
                }
                &-lobby-nfl {
                    background: $icon-lobby-nfl-active-footer no-repeat center/contain;
                }
                &-lobby-soccer {
                    background: $icon-lobby-soccer-active-footer no-repeat center/contain;
                    width: $width-icon-soccer-footer;
                }
                &-sports {
                    background: $icon-sports-active-footer no-repeat center/contain;
                }
                &-my-lineups {
                    background: $icon-lineups-active-footer no-repeat center/contain;
                    width: 34px;
                }
                &-schedule {
                    background: $icon-schedule-active-footer no-repeat center/contain;
                }
            }
        }
        .icon {
            display: block;
            height: 22px;
            margin: 0 auto 5px;
            width: 23px;

            &-games {
                background: $icon-games-footer no-repeat center/contain;
            }
            &-lobby-nfl {
                background: $icon-lobby-nfl-footer no-repeat center/contain;
            }
            &-lobby-soccer {
                background: $icon-lobby-soccer-footer no-repeat center/contain;
                width: $width-icon-soccer-footer;
            }
            &-sports {
                background: $icon-sports-footer no-repeat center/contain;
            }
            &-my-lineups {
                background: $icon-lineups-footer no-repeat center/contain;
                width: 34px;
            }
            &-schedule {
                background: $icon-schedule-footer no-repeat center/contain;
            }
            &-league-epl {
                background: $icon-league-epl-footer no-repeat center/100%;
                border-radius: 3px;
            }
            &-league-csl {
                background: $icon-league-csl-footer no-repeat center/100%;
                border-radius: 3px;
            }
        }

        &.full-height {
            margin: 5px 0 0;

            i {
                height: 90%;
                max-width: 55px;
                width: 90%;
            }
        }
    }
}
