@import '../../scss/variables';
@import '../../scss/mixins';

.page.lobby {

    .slider {
        height: 10vw;
        @include calc(width, '100% - 20px');
        margin: 0 10px;
        position: relative;
        touch-action: none;
    }

    .handle {
        background-color: $overall-color-basic;
        border-radius: 50%;
        cursor: pointer;
        height: 5vw;
        width: 5vw;
        top: 50%;
        margin-top: -2.5vw;
        &::before {
            content: "";
            width: 45px;
            height: 45px;
            margin: -15px 0 0 -15px;
            display:block;
        }
    }

    .handle.active {
        background-color: $text-color-dark;
    }

    .bar {
        background-color: $overall-color-basic-dark;
        border-radius: 3px;
        height: 1vw;
        margin-top: -.5vw;
        position: relative;
        top: 50%;
    }

    .bar.bar-1 {
        background-color: $overall-color-basic;
        border-radius: 5px;
        height: 2vw;
        margin-top: -1vw;
    }

    .horizontal-slider .bar {
        height: 10px;
        top: 20px;
    }

    .horizontal-slider .handle {
        height: 48px;
        line-height: 48px;
        top: 1px;
        width: 50px;
    }
}
