@import '../../scss/variables';
@import '../../scss/mixins';

/** Default variables **/
$bg-empty-my-games: url-images('games/empty-games-cup-bg.png') no-repeat center 10px/33vh !default;
/** Default variables END**/


.page.games {
    @include flex-container(column, flex-start, stretch);
    background: url-images('games/field-background.jpg') no-repeat center bottom/100% 110%;

    &.empty {
        @include calc(min-height, '100vh - 114px');
    }
    .games-explanation {
        @include flex-container(column, center, center);
        .icon {
            border-radius: 50%;
            display: inline-block;
            height: 45px;
            margin: 25px 0 25px 0;
            width: 45px;
            &.finished {
                background: url-images('games/finished-icon.png') no-repeat center/cover;
            }
            &.live {
                background: url-images('games/live-icon.png') no-repeat center/cover;
            }
            &.soon {
                background: url-images('games/soon-icon.png') no-repeat center/cover;
            }
        }
        p {
            @include font-size(xxl-small);
            color: $text-color-white;
            font-family: $fontLatoMedium;
            line-height: 1rem;
            margin-bottom: 8px;
            text-align: center;
        }
    }
    .top {
        position: relative;
        padding: 20px 20px 0;
        text-align: center;
        .Btn {
            @include absolute(12px,20px);
        }

    }
    .top-title {
        @include font-size(big);
        margin: 0 0 6px;
        span:first-child {
            font-family: $fontLatoMedium;
        }
        span:last-child {
            font-family: $fontMontserratBlack;
        }
    }
    .sub-title {
        @include font-size(xxl-small);
        color: $text-color-light;
        font-family: $fontLatoMedium;
        margin: 0 0 20px;
    }
    .filters {
        @include flex-container(row, space-between, center);
        background: $overall-color-basic-dark;
        border-radius: 19px;
        margin: 0 0 25px;
        padding: 2px;
        .btn {
            min-width: 24%;
        }
    }

    .create-placeholder {
        @include calc("width", '100vw - 10px');
        background: rgba(white, .2);
        border-radius: 5px;
        color: $text-color-light;
        margin: 0 0 5px 5px;
        padding: 25px 0;
        text-align: center;
    }

    .games-rows {
        .row {
            color: $black;
            height: 100px;
            margin-bottom: 10px;
        }

        .lineup-item {
            @include calc("width", '100vw - 10px');
            margin: 0 0 5px 5px;
            border-radius: 5px;

            section {
                border-radius: 5px;
                background: linear-gradient(110deg, white 49%, #7982a3 49%);
            }
            &.soon {
                section {
                    background: linear-gradient(110deg, white 49%, #619fff 49%);
                }
            }
            &.live {
                section {
                    background: linear-gradient(110deg, white 49%, #ac1a2f 49%);
                }
            }
            &.finished {
                section {
                    background: linear-gradient(110deg, white 49%, #2bcb8c 49%);
                }
            }

            .game-card {
                height: 100%;
                width: 100%;
                a {
                    text-decoration: none;
                    display: block;
                    height: 100%;
                }
            }

            aside {
                width: 120px;
            }

            &:before {
                content: ' ';
                display: block;
                height: 50%;
                width: 100%;
                background: $btnDefault;
                border-radius: 5px 5px 0 0;
            }

            &.disabled:before {
                background: $greyChateau;
            }
            &:after {
                content: ' ';
                display: block;
                height: 50%;
                width: 100%;
                background: $btnWarning;
                border-radius: 0 0 5px 5px;
            }
            &.disabled:after {
                background: $greyChateau2;
            }

            .gc__button {
                @include flex-container(column, center, center);
                @include font-size(xl-small);
                font-weight: 600;
                height: 50%;
                text-transform: uppercase;

                &.edit {
                    background: $btnDefault;
                    border-radius: 0 5px 0 0;

                    &.disabled {
                        background: $greyChateau;
                        color: $stormGrey;
                    }
                }

                &.remove {
                    background: $btnWarning;
                    border-radius: 0 0 5px 0;

                    &.disabled {
                        background: $greyChateau2;
                        color: $stormGrey;
                    }
                }
                .icon {
                    margin-bottom: 10px;
                }
            }


            &__row {
                @include flex-container(row, space-between, stretch);
                height: 100%;
            }
            &__name {
                @include font-size(x-small);
                color: $text-color-dark;
                font-family: $fontLatoBlack;
                text-transform: uppercase;
                width: 70%;
            }
            &__subname {
                @include font-size(extra-small);
                color: $text-color-light;
                font-family: $fontLatoBlack;
                margin: 2px 0 0;
                text-transform: uppercase;
            }
            &__new-game-badge {
                @include absolute($right: 0px, $top: -2px);
                background: #dc2b2b;
                border-radius: 2px;
                color: $white;
                display: block;
                font-family: $fontLatoBlack;
                font-style: normal;
                font-size: .438rem;
                height: 13px;
                line-height: 13px;
                text-align: center;
                width: 28px;
            }
            &__info {
                border-radius: 5px 0 0 5px;
                box-sizing: border-box;
                padding: 13px 10px 10px 15px;
                width: 40%;

                .Money {
                    white-space: nowrap;
                }
                .titles {
                    margin: 0 0 32px;
                    position: relative;
                }
                .points,
                .prizes {
                    .data {
                        @include flex-container(column, space-between, flex-end);
                        font-family: $fontLatoBlack;
                        text-align: right;
                        width: 49%;
                        &:first-child {
                            margin-right: 5px;
                        }

                        &__title {
                            @include font-size(extra-small);
                            color: $text-color-light;
                            margin-bottom: 2px;
                            text-transform: uppercase;
                        }
                        &__num {
                            @include font-size(xl-medium);
                            color: $text-color-dark;

                        }
                    }
                }
                .points {
                    @include flex-container(row, space-between, flex-end);
                    margin-bottom: 15px;
                }
                .prizes {
                    @include flex-container(row, space-between, flex-end);
                    margin-bottom: 12px;
                    .data {
                        &__num {
                            @include font-size(x-medium);
                            color: $typo-color-first;
                        }
                    }
                }

                .entries {
                    @include flex-container(row, flex-end, flex-end);
                    font-family: $fontLatoMedium;
                    color: $text-color-light;

                    &__title {
                        @include font-size(extra-small);
                        line-height: .7rem;
                        margin-right: 5px;
                        text-transform: uppercase;
                    }
                    &__num {
                        @include font-size(xl-medium);

                        .black {
                            font-family: $fontLatoBlack;
                            color: $text-color-dark;
                        }
                    }
                }
            }
        }

    }
    .empty-games {
        .top {
            background: $bg-empty-my-games;
            box-sizing: border-box;
            min-height: 37vh;
        }
        .text-info {
            @include font-size(xxl-small);
            font-family: $fontLatoMedium;
            line-height: 1rem;
            margin: 27vh auto 0;
            text-align: center;
            width: 65%;
            &.social {
                margin: 10px auto 0;
            }
        }
        .Btn {
            display: block;
            margin: 0 auto;
        }
    }
    .steps {
        @include flex-container();
        padding: 0 50px;
        margin: 20px 0;
    }
    .item {
        @include flex-container(row, center, flex-start);
        flex-basis: 40%;
        span:first-child {
            color: $cardinal;
            font-size: 2.188rem;
            font-family: montserratblack, sans-serif;
            line-height: 2.188rem;
            margin-right: 5px;
        }
        span:last-child {
            @include font-size(xxl-small);
            font-family: $fontLatoMedium;
            line-height: 0.95rem;
        }
    }
}
