@import '../../scss/mixins';
@import '../../scss/variables';

/** Default variables **/
$avatar-margin-right: 70px !default;
$bell-icon:            url('../../images/icons/icon-notification-bell.png') !default;
$bg-bell-icon-header:  $persianRed !default;
$bg-color-header:      $blackRussian !default;
$border-bottom-header: 2px solid $denim !default;
$text-balance-color:   $text-color-white !default;
/** Default variables END **/


.header-wrap {
    &.fixed {
        height: 60px;
        .header {
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
        }
    }
}

.header {
    @include flex-container(row, space-between, center);
    @include font-size(xxl-small);
    background-color: $bg-color-header;
    border-bottom: $border-bottom-header;
    box-sizing: border-box;
    font-family: $fontLatoMedium;
    max-height: 65px;
    padding: 10px 17px;
    width: 100vw;

    .avatar-wrapper {
        margin-right: $avatar-margin-right;
    }

    .user-avatar {
        @include square(40px);
        background-color: darken($bg-color-header, 20%);
        border-radius: 50px;
        display: inline-block;
        overflow: hidden;

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }

    .logout {
        color: $red;
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .header-left {
        @include flex-container(row, flex-start, center);
        width: 50%;
    }
    .info {
        @include flex-container(row, space-between, center);
        flex-grow: 20;

        .message-bell {
            background: $bell-icon center/70% no-repeat;
            height: 30px;
            position: relative;
            width: 25px;
            .icon-notes-count {
                @include absolute($top: -5px, $right: -3px);
                @include font-size(xl-small);
                background-color: $bg-bell-icon-header;
                border-radius: 50%;
                box-sizing: border-box;
                font-family: $fontLatoMedium;
                font-style: normal;
                height: 18px;
                line-height: 1.125rem !important;
                padding-right: 1px;
                text-align: center;
                width: 18px;
            }
        }

        .balance-info {
            @include flex-container();
            color: $text-balance-color;
        }

        .usd-amount,
        .token-amount,
        .bean-amount {
            margin-left: 20px;
            padding-left: 20px;
        }

        .usd-amount {
            background: url-images('icons/dollar.png') left center/contain no-repeat;
        }

        .token-amount {
            background: url-images('icons/token.png') left center/contain no-repeat;
        }

        .bean-amount {
            background: url-images('icons/bean.png') left center/contain no-repeat;
        }
    }

    .auth-menu {
        @include flex-container(column, flex-start, stretch);
        background: white;
        color: black;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 101;

        .inner {
            @include flex-container(row, flex-start, center);
            padding: 9px 20px 8px 20px;
        }

        .username {
            @include font-size(medium);
            color: $darkGrey;
            font-family: $fontLatoMedium;
            margin-left: 10px;
            padding-right: 20px;
            text-transform: uppercase;
        }

        .cross {
            @include absolute($top: 22px, $right: 20px);
            height: 15px;
            width: 15px;
            &:before, &:after {
                background: $red;
                content: '';
                display: block;
                height: 3px;
                position: absolute;
                top: 5px;
                width: 15px;
            }
            &:before {
                left: 0;
                transform: rotate(45deg);
            }
            &:after {
                right: 0;
                transform: rotate(-45deg);
            }
        }

        .separator {
            background: $denim;
            height: 4px;
            width: 100%;

            &.minor {
                height: 2px;
                margin: 4px auto;
                width: 80%;
            }
        }

        .logout-wrapper {
            padding: 18px 20px;
        }

        .logout-button {
            background: url-images('header/logout.png') left center/cover no-repeat;
            background-size: 30px;
            color: $white;
            padding: 20px 50px;
            text-transform: uppercase;
        }

        .menu-body {
            background: $blueWhale;
        }
    }
}

.header-wrap ~ .page,
.header ~ .page {
    @include calc(min-height, '100vh - 60px');
}

