@import '../../scss/variables';
@import '../../scss/mixins';

.page.comparison {
    padding: 126px 0 0;
    .top {
        background-color: $bg-main-color-primary;
        box-shadow: $header-box-shadow;
        left: 0;
        min-height: 150px;
        padding: 0;
        position: fixed;
        right: 0;
        top: 60px;
        z-index: 9;
        .title {
            color: $text-color-light;
            font-family: $fontMontserratBlack;
            font-size: 0.938rem;
            left: 25%;
            position: absolute;
            right: 25%;
            text-align: center;
            span:nth-child(2) {
                color: $text-color-white;
            }
        }
        &-row {
            @include flex-container(row, space-between, center);
            box-sizing: border-box;
            min-height: 53px;
            padding: 20px 20px 0;
            position: relative;
        }
    }

    .comparison-athletes {
        @include flex-container(row, space-between, center);
        position: absolute;
        top: 70px;
        width: 100%;

        .BtnGroup {
            display: none;
            z-index: 999;
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 100%;
            background: white;
            button {
                text-transform: uppercase;
                border: none;
                height: 35px;
                padding: 9px 11px 8px;
                margin: 3px;
            }
            .btn-fav i.icon {
                height: 21px;
                width: 21px;
            }
        }
        .left-athlete,
        .right-athlete {
            box-sizing: border-box;
            height: 110px;
            overflow: hidden;
            position: relative;
            flex-basis: 48%;
            &.empty {
                @include flex-container(row, center, center);
                padding: 0;
            }
        }
        .left-athlete {
            @include flex-container(row, space-between, stretch);
            background: $white linear-gradient(-60deg, #dee2f0, #dee2f0 45%, white 45%);
            box-shadow: $header-box-shadow;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            padding: 5px 0 10px 10px;

            .info {
                @include flex-container(column, space-between, flex-start);
                margin-bottom: 5px;
                width: 55%;
                z-index: 4;

                .name {
                    color: $text-color-dark;
                    text-align: left;
                }
                .budget {
                    color: $text-color-light;
                }
            }
            .player-photo {
                bottom: -5px;
                position: relative;
                right: 40px;
                z-index: 2;
            }
        }
        .right-athlete {
            @include flex-container(row-reverse, space-between, stretch);
            background: $white linear-gradient(60deg, $overall-color-basic-dark, $overall-color-basic-dark 45%, $overall-color-basic 45%);
            box-shadow: $header-box-shadow;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            padding: 5px 10px 10px 0;

            .info {
                @include flex-container(column, space-between, flex-end);
                margin-bottom: 5px;
                width: 55%;
                z-index: 4;

                .name {
                    color: $white;
                    text-align: right;
                }
                .budget {
                    color: $text-color-light;
                }
            }

            .player-photo {
                left: -31px;
                bottom: -5px;
                position: relative;
            }

            .BtnGroup {
                flex-direction: row-reverse !important;
            }
        }
        .select-athlete {
            @include font-size(x-small);
            font-family: $fontLatoBlack;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            padding: 10px;

            &.left {
                color: $text-color-dark;
            }
            &.right {
                color: $white;
            }
        }
        .in-draft {
            @include font-size(extra-small);
            background: $overall-color-basic;
            color: $text-color-white;
            font-family: $fontLatoBlack;
            padding: 5px;
            position: absolute;
            text-transform: uppercase;
            text-align: center;
            z-index: 2;
            &.left,
            &.right {
                border-top-left-radius: 3px;
                border-bottom-right-radius: 3px;
                bottom: 0;
                right: 0;
            }

        }
        .selected {
            height: 145px;
            padding-bottom: 40px;

            .in-draft {
                margin-bottom: 41px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .BtnGroup {
                @include flex-container(row, space-around, center);
            }
        }



        .photo {
            width: 70px;
        }
        .vs-circle {
            background: rgba(255, 255, 255, .5);
            border-radius: 50%;
            box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.61);
            height: 30px;
            left: 50%;
            top: 40%;
            margin-left: -15px;
            position: absolute;
            width: 30px;
            z-index: 2;
            div {
                @include font-size(small);
                background: $white;
                border-radius: 50%;
                box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.5);
                color: $text-color-dark;
                font-family: $fontLatoBlack;
                height: 26px;
                line-height: 27px;
                margin: 2px auto;
                text-align: center;
                width: 26px;
            }
        }
        .icon-cross {
            width: 13px;
            height: 13px;
            position: absolute;
            padding: 2px;
            background: $overall-color-basic;
            border-radius: 50%;
            z-index: 5;


            &:before,
            &:after {
                content: '';
                display: block;
                height: 1px;
                position: absolute;
                top: 8px;
                width: 9px;
            }
            &:before {
                left: 4px;
                transform: rotate(45deg);
            }
            &:after {
                right: 4px;
                transform: rotate(-45deg);
            }
            &.left {
                left: 5px;
                top: 5px;
                &:before,
                &:after {
                    background: white;
                }
            }
            &.right {
                right: 5px;
                top: 5px;
                background: $overall-color-basic-dark;
                &:before,
                &:after {
                    background: white;
                }

            }
        }

        .team-logo {
            align-self: center;
            max-width: 50px;
            max-height: 30px;
        }
        .name {
            font-family: $fontMontserratBlack;
            @include font-size(xxl-small);
            @include font-size(xxl-small);
            text-transform: uppercase;
        }
        .budget {
            font-family: $fontLatoBlack;
            @include font-size(x-small);
        }
    }

    .table {
        @include flex-container(column, flex-start, stretch);
        background-color: $bg-color-header;
        box-sizing: border-box;
        font-family: $fontLatoBlack;
        padding: 12px 45px;
        .row {
            @include flex-container(row, space-between, center);
        }
        .stats-num {
            color: $wildBlueYonder;
            @include font-size(xxl-small);
            padding: 5px 0;
            min-width: 40px;
            &.right {
                text-align: right;
            }
            &.better {
                color: $text-color-white;
            }
        }
        .stats-name {
            color: $white;
            @include font-size(extra-small);
            padding: 5px 0;
            text-transform: uppercase;

            .stats-unit {
                opacity: .7;
            }
        }
    }

    .draft {
        @include flex-container(row, center, center);
        .icon {
            margin-right: 5px;
        }
    }
}

.radar-chart-wrap {
    @include flex-container(row, center, center);
    background-color: $bg-main-color-primary;
    padding: 100px 0 20px 0;
    position: relative;
    overflow-x: hidden;

    .unit-labels {
        text-transform: uppercase;
        fill: $text-color-light;
    }
}

.comparison-radar-chart {
    .radar-chart-label {
        text-transform: uppercase;
    }

    .recharts-polar-grid-angle {
        display: none;
    }

    .recharts-polar-grid-concentric circle {
        opacity: .1;

        &:nth-child(3) {
            opacity: .25;
        }

        &:nth-child(4) {
            opacity: .5;
        }

        &:nth-child(5) {
            opacity: .75;
        }
    }
}
