@import "../../scss/mixins";

$athlete-info-header-shadow: 0px 3px 18px 2px rgba(black, 0.2) !default;
$athlete-info-header-height: 222px !default;
$athlete-info-photo-height: 175px !default;

.AthleteInfo {
    &.page {
        @include flex-container(column, flex-start, stretch);
        background: white;
        box-sizing: border-box;
        color: $text-color-dark;
        padding: #{$athlete-info-header-height + 10px} 0 0 0;
        position: relative;
    }
}

.AthleteInfoHeader {
    background-color: $bg-main-color-primary;
    box-shadow: $athlete-info-header-shadow;
    height: $athlete-info-header-height;
    left: 0;
    position: fixed;
    right: 0;
    top: 64px;
    width: 100vw;
    z-index: 20;

    &__inner {
        height: $athlete-info-photo-height;
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    &__name {
        @include font-size(x-medium);
        background-color: $white;
        box-sizing: border-box;
        color: $text-color-dark;
        font-family: $fontLatoBlack;
        font-weight: 700;
        height: #{$athlete-info-header-height - $athlete-info-photo-height};
        margin: 0;
        padding: 18px 10px 15px;
        text-align: center;
        text-transform: uppercase;

        &:before,
        &:after {
            color: $text-color-light;
            content: attr(data-position);
            font-family: $fontLatoMedium;
            margin: 0 .5em;
        }

        &:after {
            visibility: hidden;
        }
    }

    &__favorites {
        @include absolute($right: 45%, $bottom: 29px, $left: 45%);
        @include square(35px);
        background: $white;
        border-radius: 50%;
        z-index: 10;

        .icon-fav {
            @include square(21px);
            background: url-images('icons/icon-fav.png') no-repeat center/cover;
            display: block;
            margin: 7px auto 0;

            &-active {
                background: url-images('icons/icon-fav-active.png') no-repeat center/cover;
            }
        }
    }

    &__bg {
        @include absolute(-10%, -9%, -10%, -9%);
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .5;
        z-index: 1;
    }

    &__content {
        @include absolute(0, 0, 0, 0);
        box-sizing: border-box;
        padding: 15px 20px 0;
        z-index: 2;
    }

    &__image {
        bottom: -30px;
        position: relative;
    }

    &__buttons {
        @include absolute($top: 15px, $right: 20px, $left: 20px);
        @include flex-container(row, space-between, flex-start);

        .btn-wizard-compare,
        .btn-next {
            z-index: 10;
        }
    }
    &__right-btn {
        @include flex-container(column, space-between, stretch);
        .Btn {
            margin-bottom: 10px;
        }
    }
}

.AthleteInfoSummary {

    .warning {
        @include flex-container(row, center, center);
        background: url-images('roster/warning.jpg') center/cover no-repeat;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18);
        font-family: $fontLatoBlack;
        margin: 0 0 10px;
        padding: 15px;

        .locked-icon {
            background: url-images('roster/locked.png') center/cover no-repeat;
            display: block;
            height: 15px;
            margin-right: 10px;
            width: 13px;
        }

        .exclamation-icon {
            background: url('./images/exclamation.png') center/cover no-repeat;
            display: block;
            height: 15px;
            margin-right: 10px;
            width: 17px;
        }

        .count {
            @include font-size(x-small);
            background-color: $white;
            border-radius: 1px;
            color: $persianRed;
            margin-right: 10px;
            padding: 0 2px;
            text-align: center;
        }

        .text {
            @include font-size(xl-small);
            color: $white;
        }
    }

    &__content {
        @include flex-container(row, space-between, center);
        @include font-size(small);
        font-family: $fontLatoBlack;
        padding: 10px 20px;

        > section {
            @include flex-container(column, space-between, stretch);
        }

        .common-info {
            @include font-size(x-small);
            color: $text-color-dark;
            margin-bottom: 10px;
            padding-right: 5px;
            text-transform: uppercase;

            .entry {
                white-space: nowrap;
            }
        }

        .legend {
            &-item {
                @include flex-container(row, space-between, center);
                text-transform: uppercase;
            }

            .legend-item + .legend-item {
                margin-top: 10px;
            }

            .label {
                color: $text-color-light;
            }

            .value {
                @include font-size(xl-medium);
                color: $text-color-dark;
                font-weight: bold;

                &.Money {
                    color: $typo-color-third;
                }
            }
        }
    }
}

.AthleteInfoStats {
    @include flex-container(row, space-between, center);
    background: $bg-main-color-primary;
    font-family: $fontLatoMedium;
    padding: 10px 20px;
    text-align: right;
    text-transform: uppercase;

    .label {
        @include font-size(small);
        color: $text-color-light;
    }

    .value {
        @include font-size(xxl-small);
        color: $white;
        font-family: $fontLatoBlack;
        font-weight: bold;
    }
}

.TabPanel {
    @include flex-container(column, flex-start, stretch, inline-flex);
    flex-grow: 1;

    .TabBar {
        @include flex-container();
        @include font-size(x-small);
        background: $whiteSmoke;
        font-family: $fontLatoBlack;;
        text-transform: uppercase;
        z-index: 1;

        &__Tab {
            @include flex-container(row, center, center);
            border-bottom: 3px solid transparent;
            box-sizing: border-box;
            color: $text-color-light;
            flex-grow: 1;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            width: 50%;

            &.selected {
                background: white;
                border-bottom: 3px solid $overall-color-action;
                color: $overall-color-action;
            }
        }

        .TabBar__Tab + .TabBar__Tab {
            border-left: 1px solid #e0e0e0;
        }
    }

    .TabContainer {
        flex-grow: 1;
        position: relative;

        .recharts-wrapper {
            background: white;
        }
        .recharts-responsive-container.recharts-responsive-container {
            @include absolute(0, 0, 0, 0);
        }
        .recharts-legend-wrapper {
            box-sizing: border-box;
        }
    }

    &.scoring {
        width: 100%;
        .TabBar {
            background: $white;
            border: 1px solid #e0e0e0;
            &__Tab {
                height: 45px;
            }
        }
    }
}

.game-log {
    @include flex-container(row, space-between, stretch);
    background: $white;
    color: $stormGrey;
    overflow: auto;
    position: absolute;
    text-transform: uppercase;
    width: 100%;

    &__cell {
        @include font-size(xl-small);
        border-bottom: 1px solid $gainsboro;
        color: $text-color-light;
        height: 1.5em;
        line-height: 1.5em;
        padding: 10px 20px 10px 10px;
        text-align: right;

        &--caption {
            background-color: rgba($text-color-light, .4);
            color: $text-color-dark;
            font-weight: 500;
            white-space: nowrap;
        }

        &--title {
            color: $text-color-dark;
            padding-left: 20px;
            padding-right: 10px;
            text-align: left;
            white-space: nowrap;
        }
    }

    &__column {
        @include flex-container(column, flex-start, stretch);
        flex-grow: 10;
        min-width: 4em;

        &--title {
            box-shadow: 30px 0 40px -4px $greyOpaq;
            min-width: 8em;
        }
    }

    &__column-scroller {
        @include flex-container(row, space-between, stretch);
        overflow: auto;
    }

    &__row {
        @include flex-container(row, space-between, stretch);
    }
}
