@import '../../scss/mixins';
@import '../../scss/variables';

.simulation {
    @include flex-container(column, flex-start, stretch);
    background: $blueWhale;
    padding: 20px 20px 0;

    .lock {
        @include flex-container();
        color: $white;
        margin: 15px 0;
    }
    .button {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .datetime-wrapper {
        @include flex-container(column, flex-start, center);
        margin-bottom: 15px;

        .datetime {
            @include flex-container(row, center, flex-start);
            border: 2px solid $summerSky;
            box-sizing: border-box;
            color: $summerSky;
            padding: 5px;
            width: 80%;

            .column {
                @include flex-container(column, flex-start, center);
            }

            .date {
                font-size: 0.8rem;
            }

            .time {
                @include font-size(xxl-big);
            }

            .ampm {
                @include font-size(xxl-small);
                margin: 15px 0 0 5px;
            }
        }
    }

    .simulation-button {
        @include flex-container(row, space-between, center);
        background: $summerSky;
        border-radius: 3px;
        font-weight: 600;
        padding: 0;
    }
}
