@import '../../scss/variables';
@import '../../scss/mixins';

.icon {
    display: inline-block;
    &.icon-plus {
        &:after,
        &:before {
            background: $white;
            content: '';
            display: block;
            position: absolute;
        }

        &:before {
            height: 12px;
            left: 19px;
            top: 14px;
            width: 2px;
        }

        &:after {
            height: 2px;
            left: 14px;
            transform: rotate(0deg);
            top: 19px;
            width: 12px;
        }
        &.cross {
            &:after {
                left: 10px;
                top: 14px;
            }
            &:before {
                left: 15px;
                top: 9px;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(45deg);
            }
        }
    }

    &.icon-arrow-left {
        @include absolute(7px,none,none,0);
        background: url("./btn-icon-arrow-left.png") no-repeat center/contain;
        height: 14px;
        width: 8px;
    }

    &.icon-arrow-center-bottom {
        background: url("./btn-icon-arrow-top.png") no-repeat center/contain;
        height: 6px;
        opacity: .6;
        transform: rotate(-180deg);
        width: 10px;
    }

    &.icon-arrow-center-top {
        background: url("./btn-icon-arrow-top.png") no-repeat center/contain;
        height: 6px;
        opacity: .6;
        width: 10px;
    }

    &.icon-list {
        background: url("./btn-icon-list.png") no-repeat center/contain;
        height: 15px;
        width: 15px;
    }

    &.icon-sort {
        background: url("./btn-icon-sort.png") no-repeat center/contain;
        height: 21px;
        margin: 1px 0 0 2px;
        padding-left: 2px;
        width: 16px;
    }

    &.icon-pitch {
        background: url("./btn-icon-field.png") no-repeat center/contain;
        height: 21px;
        margin-top: 1px;
        width: 16px;
    }

    &.icon-pitch-disabled {
        background: url("./btn-icon-field-disabled.png") no-repeat center/contain;
        height: 21px;
        margin-top: 1px;
        width: 16px;
    }

    &.icon-filter {
        background: url("./btn-icon-filter.png") no-repeat center/contain;
        height: 13px;
        width: 14px;
    }

    &.icon-compare {
        background: url(./btn-compare.png) no-repeat center/contain;
        height: 18px;
        width: 18px;
    }

    &.icon-clear-compare {
        background: url(./btn-clear-compare.png) no-repeat center/contain;
        height: 18px;
        width: 18px;
    }

    &.icon-plus-circle {
        border-radius: 50%;
        border: 1px solid $white;
        box-sizing: border-box;
        height: 18px;
        position: relative;
        width: 18px;
        &:after,
        &:before {
            background: $white;
            content: '';
            display: block;
            position: absolute;
        }

        &:before {
            height: 8px;
            left: 7px;
            top: 4px;
            width: 2px;
        }

        &:after {
            height: 2px;
            left: 4px;
            top: 7px;
            transform: rotate(0deg);
            width: 8px;
        }
    }

    &.icon-minus-circle {
        border-radius: 50%;
        border: 1px solid $white;
        box-sizing: border-box;
        height: 18px;
        position: relative;
        width: 18px;
        &:after,
        &:before {
            background: $white;
            content: '';
            display: block;
            position: absolute;
        }
        &:after {
            height: 2px;
            left: 4px;
            top: 7px;
            transform: rotate(0deg);
            width: 8px;
        }
    }

    &.icon-mod-draft {
        margin-bottom: 7px;
    }

    &.icon-mod-disabled {
        border-color: $stormGrey;
        &:after,
        &:before {
            background: $stormGrey;
        }
    }

    &.icon-delete {
        background: url(./icon-delete.png) no-repeat center/contain;
        height: 17px;
        width: 14px;
    }

    &.icon-delete-disabled {
        background: url(./icon-delete-disabled.png) no-repeat center/contain;
        height: 18px;
        width: 18px;
    }

    &.icon-bowl {
        background: url(./icon-bowl.png) no-repeat center/contain;
        height: 20px;
        width: 20px;
    }

    &.icon-create-game {
        background: url(./icon-create-game.png) no-repeat center/contain;
        height: 20px;
        width: 20px;
    }

    &.icon-edit {
        background: url(./icon-edit.png) no-repeat center/contain;
        height: 18px;
        width: 18px;
    }

    &.icon-edit-disabled {
        background: url(./icon-edit-disabled.png) no-repeat center/contain;
        height: 18px;
        width: 18px;
    }

    &.icon-favorite {
        background: url(./icon-fav.png) no-repeat center/contain;
        height: 17px;
        width: 17px;
    }

    &.icon-favorite-active {
        background: url(./icon-fav-active.png) no-repeat center/contain;
        height: 17px;
        width: 17px;
    }

    &.icon-cross {
        background: url(./icon-cross.png) no-repeat center/contain;
        height: 10px;
        width: 10px;
    }

    &.icon-competition-filters {
        background: url('./btn-icon-competition-filter.png') no-repeat center/contain;
        background-size: 15px 16px;
        height: 24px;
        width: 24px;
    }
}
