@import "../../scss/variables";
@import "../../scss/mixins";
@import "./SvgOnboardingStyles";

/** Default variables **/
$bg-welcome-onboarding:        $midnightExpress url('images/welcome-bg.png') no-repeat top/100% !default;
$bg-budget-welcome-onboarding: $midnightExpress !default;
$bg-main-onboarding:           $midnightExpress !default;
/** Default variables END**/


.onboarding-container {
    @include flex-container(column, space-between, stretch);
    background: $bg-main-onboarding;
    bottom: 0;
    font-family: $fontLatoMedium;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 13;

    &__action-bar {
        background: $bg-main-onboarding;
        padding: 15px 15px 20px;
    }

    &__button {
        flex-grow: 100;
        box-sizing: border-box;
        margin: 20px;
    }

    &__content {
        @include flex-container(column, flex-start, stretch);
        overflow-x: hidden;
        flex-grow: 50;
    }
    .inner {
        position: relative;
        max-width: 320px;
        min-width: 320px;
        margin: 0 auto;
    }
    .room-wrap {
        position: relative;
        margin: 70px auto 0;
        max-width: 337px;
        .tip {
            @include absolute();
            @include font-size(xxl-small);
            font-family: $fontLatoMedium;
            line-height: 0.875rem;
            max-width: 75px;
            text-align: center;
            z-index: 2;
            &-total-prize {
                left: 20px;
                top: -44px;
                .svg-arrow-overlay {
                    top: 8px;
                    width: 10px;
                }
            }
            &-entry-cost {
                left: 115px;
                max-width: 90px;
                top: -44px;
                &.no-prize-thumb {
                    .svg-arrow-overlay {
                        right: 0;
                    }
                }
                .svg-arrow-overlay {
                    right: -36px;
                    top: 8px;
                    width: 29px;
                }
            }
            &-game-begins {
                right: 20px;
                top: -44px;
                .svg-arrow-overlay {
                    right: -15px;
                    top: 8px;
                    width: 10px;
                }
            }
            &-get-prize {
                bottom: -35px;
                left: 30px;
                .svg-arrow-overlay {
                    top: -5px;
                    width: 13px;
                }
            }
            &-first-place {
                bottom: -35px;
                left: 110px;
                &.no-prize-thumb {
                    left: 30px;
                    .svg-arrow-overlay {
                        left: 0;
                    }
                }
                .svg-arrow-overlay {
                    left: -15px;
                    top: -5px;
                    width: 10px;
                }
            }
            &-players-count {
                bottom: -35px;
                right: 40px;
                .svg-arrow-overlay {
                    left: -5px;
                    top: -6px;
                    width: 13px;
                }
            }
        }
    }
}

.lobby-onboarding {
    @include font-size(xxl-small);

    &__title {
        @include font-size(x-big);
        color: $white;
        font-family: $fontMontserratBlack;
        margin-top: 25px;
        margin-bottom: 20px;
        opacity: .78;
        text-align: center;
        text-transform: uppercase;
    }

    &__para {
        @include font-size(xxl-small);
        line-height: 1rem;
        margin: 0 50px 15px;
        text-align: center;
    }

    .competition-room-ns {
        margin: 10px auto;
        max-width: 270px;
        width: 90%;
    }
}

.welcome-onboarding {
    background: $bg-welcome-onboarding;
    padding: 28px 0 0;
    .title {
        @include font-size(xxl-small);
        text-align: center;
        h1 {
            margin: 0 0 7px 0;
            text-transform: uppercase;
        }
    }
    .bottom-title {
        margin: 40px auto 0;
        text-align: center;
        position: relative;
        width: 50%;
        h1 {
            color: $persianRed;
            margin: 5px 0 25px;
        }
    }
    h1 {
        @include font-size(xm-big);
    }
    .item {
        height: 148px;
        position: relative;
        .desc {
            position: absolute;
            top: 41%;
            width: 38%;
        }
        &.whistle, &.cup {
            .image {
                left: 0;
                max-width: 165px;
            }
            .desc {
                left: 50%;
            }
        }
        &.whistle {
            .image {
                top: -10px;
            }
            .svg-arrow-overlay {
                top: 115px;
            }
        }
        &.team {
            height: 130px;
            .image {
                max-width: 280px;
                right: -75px;
                top: 10px;
            }
            .desc {
                left: 30px;
            }
        }
        &.budget {
            .desc {
                left: 30px;
            }
        }
    }
    .onboarding-budget-wrap {
        @include flex-container(column, center, center);
        @include absolute(-10px, 0);
        background-image: url('images/budget-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 190px;
        width: 225px;

        .info-section {
            display: none;
        }
        .budget-display {
            height: 35px;
            position: relative;
            width: 95px;
        }
        .budget-display__progress {
            @include absolute($bottom: 0);
            margin: 3px 0;
            min-width: 90px;
        }
        .wizard-header__row {
            @include flex-container(column, center, center);
            background: $bg-budget-welcome-onboarding;
            border-radius: 50%;
            height: 115px;
            margin: 0 0 10px 30px;
            width: 115px;
            z-index: 1;
        }
    }
    .desc {
        @include font-size(xxl-small);
        line-height: 1rem;
        z-index: 3;
    }
    .image {
        position: absolute;
        z-index: 1;
    }
}

.draft-onboarding {
    .wizard-header {
        background: none !important;
        box-shadow: none !important;
        position: relative !important;
        top: auto !important;
    }
    .title {
        @include font-size(xl-medium);
        color: $white;
        font-family: $fontMontserratBlack;
        opacity: .8;
        padding: 10px 10px 0;
        text-align: center;
    }
    .lineup-wrap-onboarding {
        position: relative;
    }
    .tip {
        @include font-size(xxl-small);
        line-height: 0.938rem;
        max-width: 130px;
        text-align: center;
        &-budget {
            @include absolute($top: 40px, $left: 20px);
        }
        &-avg {
            @include absolute($top: 40px, $right: 20px);
        }
        &-position {
            max-width: 150px;
            position: relative;
            margin: 120px auto 0;
        }
        &-bottom {
            position: relative;
            margin: 20px auto 0;
        }
    }
    .position-icon  {
        @include font-size(big);
        background: $white;
        border-radius: 50%;
        border: 7px solid rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        color: #959aa0;
        display: inline-block;
        font-weight: 700;
        font-style: normal;
        height: 70px;
        line-height: 56px;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        width: 70px;
    }
}

.draftstep-onboarding {
    .wizard-entry {
        height: 64px;
        margin: 175px 0 0;
    }
    &__title {
        @include font-size(xl-medium);
        font-family: $fontMontserratBlack;
        margin: 25px 0 50px;
        opacity: .8;
        text-align: center;
        span {
            color: $typo-color-third;
        }
    }
    .tip {
        @include absolute();
        @include font-size(xxl-small);
        font-family: $fontLatoMedium;
        max-width: 105px;
        text-align: center;
        &-opponent {
            left: 20px;
            top: -66px;
            width: 105px;
            .svg-arrow-overlay {
                right: 13px;
                top: 30px;
                width: 32px;
            }
        }
        &-swipe {
            left: 110px;
            top: -120px;
            .svg-arrow-overlay {
                right: 40px;
                top: 33px;
                width: 17px;
            }
        }
        &-fppg {
            max-width: 120px;
            right: 30px;
            top: -70px;
            .svg-arrow-overlay {
                left: 46px;
                top: 45px;
                width: 12px;
            }
        }
        &-oprk {
            bottom: -52px;
            left: 20px;
            .svg-arrow-overlay {
                right: -60px;
                top: -31px;
                width: 60px;
            }
        }
        &-salary {
            bottom: -52px;
            right: 40px;
            .svg-arrow-overlay {
                right: -3px;
                top: -38px;
                width: 21px;
            }
        }
    }
}

.entryfee-oboarding {
    &__title {
        @include font-size(big);
        color: $white;
        font-family: $fontMontserratBlack;
        margin-top: 25px;
        margin-bottom: 0;
        opacity: .78;
        text-align: center;
        text-transform: uppercase;
    }
    &__sub-title {
        @include font-size(xxl-small);
        font-family: $fontLatoMedium;
        margin: 25px auto 0;
        text-align: center;
        width: 50%;
    }
    &__room-wrap {
        margin: 115px auto 0;
        .icon-selected {
            display: none;
        }
    }
    .competition-room-ns {
        margin: 10px auto;
        max-width: 270px;
        width: 90%;
    }
}

.without-favorites {
    @include font-size(xxl-small);
    font-family: $fontLatoMedium;
    text-align: center;
    .no-favorites-img {
        height: 150px;
        width: 220px;
    }
    .tip {
        &-head {
            margin: 30px auto 5px;
            width: 130px;
        }
        &-bottom {
            margin: 5px auto 0;
            position: relative;
            text-align: center;
            width: 115px;
        }
    }
}
