@import '../../scss/mixins';

/** Base styles for SVG elements **/
%svg-base-style {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
}
.svg-arrow-overlay {
    .st0, .st1, .st2 {
        stroke: #DC2B2B;
    }
}

// Draft Onboarding
.draft-onboarding {
    .svg-arrow-overlay {
        display: inline-block;
        .st0 {
            @extend %svg-base-style;
            stroke-miterlimit: 10;
        }
        &.avg {
            left: -20px;
            position: relative;
            transform: rotateY(180deg);
        }
        &.budget, &.avg {
            width: 18px;
        }
        &.position {
            position: absolute;
            right: 6px;
            top: 43px;
            width: 30px;
        }
    }
}

// Draftstep onboarding
.draftstep-onboarding {
    .svg-arrow-overlay {
        @extend %svg-base-style;
        @include absolute();
        .st0 {
            stroke-miterlimit: 10;
        }
    }
}

// Welcome Onboarding
.welcome-onboarding {
    .svg-arrow-overlay {
        @include absolute($top: 140px, $right: 90px, $left: 70px);
        z-index: 2;
        .st0, .st1, .st2 {
            @extend %svg-base-style;
            stroke: #658197;
        }
        .st2 {
            stroke-miterlimit: 10;
        }
        &.left-to-right {
            .st1 {
                stroke-dasharray: 9.9337, 9.9337;
            }
        }
        &.right-to-left {
            top: 110px;
            .st1 {
                stroke-dasharray: 9.9337, 9.9337;
            }
        }
        &.short {
            left: auto;
            right: 92px;
            top: 110px;
            width: 80px;
            z-index: 3;
            .st1 {
                stroke-dasharray: 9.877, 9.877;
            }
        }
    }
}

// Lobby Onboarding
.lobby-onboarding,
.entryfee-oboarding {
    .svg-arrow-overlay {
        @extend %svg-base-style;
        display: inline-block;
        position: relative;
        .st0 {
            stroke-miterlimit: 10;
        }
    }
}

// Without Favorites Onboarding
.without-favorites {
    .svg-arrow-overlay {
        @include absolute($top: -30px);
        display: inline-block;
        width: 17px;
        .st0 {
            @extend %svg-base-style;
            stroke-miterlimit: 10;
        }
    }
}
