@import "../../scss/variables";
@import "../../scss/mixins";


.wizard-entry-wrapper {
    .compare-button {
        @include flex-container(column, flex-end, center);

        background: $btnDefault;
        font-size: 9px;
        height: 45px;
        text-transform: uppercase;
        width: 65px;
        padding: 10px;
    }

    .draft-button {
        @include flex-container(column, flex-end, center);

        background: $btnPayment;
        font-size: 9px;
        height: 45px;
        text-transform: uppercase;
        width: 65px;
        padding: 10px;

        &.undraft {
            background: $btnWarning;
        }

        &.disabled {
            background: $linkWater;
        }
    }
}

.image-wrapper {
    height: 100%;
    margin: 0 -16px 0 0;
    overflow: hidden;
    width: 80px;

    img {
        left: -20px;
        position: relative;
    }

    &.unavailable {
        background: url(./images/unavailable.png) no-repeat center/contain;
    }
}

.unavailable-cell {
    @include font-size(xx-small);
    color: $persianRed;
    line-height: 1.8em;
    text-transform: uppercase;
}

.wizard-entry.selected-roster-item {
    .column {
        .value.unavailable {
            color: $grey;
        }
    }
}
