@import '../../scss/mixins';
@import '../../scss/variables';

.login {
    .social-buttons {
        @include flex-container(row, space-between, center);
        margin: 20px 0;
    }

    .form-placeholder {
        @include font-size(xxl-small);
        background-color: $white;
        border: 1px solid $darkGrey;
        border-radius: 3px;
        box-sizing: border-box;
        color: $black;
        display: block;
        font-family: $fontLatoBlack;
        letter-spacing: 0.1rem;
        min-height: 40px;
        margin: 0 0 20px;
        outline: none;
        padding: 15px 16px;
        transition: $mainTransition;
        text-transform: uppercase;
        width: 100%;
    }
}
