@import "../../scss/variables";

%currency {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    line-height: 1.2;
}

.currency--usd:before {
    @extend %currency;
    content: '$';
}

.currency--token:before {
    @extend %currency;
    content: 'Ŧ';
}

.currency--bean:before {
    @extend %currency;
    background-image: url(../../images/icons/bean.png);
    content: ' ';
    height: .8em;
    margin-right: .15em;
    min-width: 1em;
}

.Money {
    text-align: center;
    &.bean {
        color: $typo-color-first;
    }
}
