@import '../../scss/variables';
@import '../../scss/mixins';

//TODO: get read from !important
.error input, .error .holder {
    box-shadow: inset 0 0 1px 2px $error-color;
    border: none !important;
    color: $error-color !important;
}

.error .error-text {
    color: $white;
    font-size: 12px;
    margin: 0 0 5px;
    text-align: left;
}

.input {
    position: relative;
    input {
        border: 1px solid $darkGrey;
        border-radius: 3px;
        box-sizing: border-box;
        color: rgba($black, .8);
        display: block;
        @include font-size(x-medium);
        font-family: $fontLatoBlack;
        letter-spacing: 0.1rem;
        line-height: 20px;
        min-height: 40px;
        margin: 0 0 20px;
        outline: none;
        padding: 13px 16px;
        transition: $mainTransition;
        width: 100%;
        &:hover, &:active {
            outline: none;
        }
    }
    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox] + label {
        background-color: $white;
        border-radius: 3px;
        cursor: pointer;
        height: 30px;
        left: 0;
        position: absolute;
        transition: all .3s ease-in-out;
        width: 30px;
        overflow: hidden;
    }

    input[type=checkbox] + label:before {
        border-right: none;
        border: 5px solid $blue;
        border-top: none;
        content: '';
        height: 12px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: rotate(-45deg);
        transition: all .3s ease-in-out;
        width: 28px;
    }

    input[type=checkbox] + label:before {
        border-radius: 8px;
    }

    input[type=checkbox]:checked + label:before {
        opacity: 1;
    }

    label + label {
        position: relative;
        left: 50px;
        top: 5px;
    }

    .hiding-element, .clean-element {
        cursor: pointer;
        height: 15px;
        position: absolute;
        width: 20px;
        z-index: 10;
    }

    .clean-element {
        color: $greyChateau;
        right: 13px;
        top: 14px;
    }

    .hiding-element {
        background: url-images('home/eye-icon.png') center no-repeat;
        background-size: contain;
        right: 15px;
        top: 17px;
        &.active {
            background: url-images('home/eye-icon-active.png') center no-repeat;
            background-size: contain;
        }
    }

    .exhibitor-element {
        display: none;
        position: absolute;
        top: 0;

        &.display {
            display: block;
        }
    }
    &.input-pass {
        input {
            color: $ghost;
            text-align: center;
        }
    }
    &.select {
        height: 60px;
        position: relative;
        width: 100%;

        .holder {
            background-color: $white;
            border-radius: 3px;
            color: #9d9d9d;
            display: inline-block;
            font: 300 16px latomedium,'Open Sans',sans-serif;
            height: 40px;
            width: 100%;

            > div {
                @include ellipsis();
                box-sizing: border-box;
                padding: 10px 20px;
            }
        }

        ul {
            padding: 0;

            li {
                display: block;
                font-size: 12px;
                padding: 5px 20px;
            }
        }

        .list {
            background-color: $white;
            border-top: 1px solid $grey;
            display: none;
            height: 200px;
            position: absolute;
            overflow: scroll;
            z-index:10;

            &.open {
                display: block;
            }
        }
    }

}

.toggle-input {
    position: relative;
    width: 90px;
    min-width: 90px;
    height: 30px;
    border: 1px solid $red;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;

    &--checked {
        background: $summerSky;
        border-color: $summerSky;
    }

    &__icon {
        background: $red;
        border-radius: 50%;
        height: 24px;
        left: 63px;
        position: absolute;
        top: 3px;
        transition: all .2s ease-out;
        width: 24px;

        &--checked {
            background: $bondiBlue;
            left: 2px;
        }
    }

    &__text {
        position: absolute;
        font: 300 10px $fontLatoBlack;
        color: $red;
        opacity: .6;
        text-transform: uppercase;
        left: 10px;
        top: 8px;

        &--checked {
            left: 35px;
            color: $black;
        }
    }
}
